{% extends 'base.html' %}

{% load static %}
{% load permissions %}

{% block title %} Bandhu | Other Activities {% endblock %}

{% block style %}
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'css/bandhu.css' %}">
<link rel="stylesheet" href="{% static 'css/charity.css' %}">
{% endblock %}

{% block navbar-links %}
<li class="nav-item">
    <a class="nav-link px-3 px-lg-2" href="{% url 'home' %}">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link px-3 px-lg-2" href="#about">About</a>
</li>
<li class="nav-item">
    <a class="nav-link px-3 px-lg-2" href="#activities">Activities</a>
</li>
<li class="nav-item">
    <a class="nav-link px-3 px-lg-2" href="#contact">Contact</a>
</li>
{% endblock %}

{% block showcase-title-container %}
<div class="slider-txt-container" style="padding: 200px 0 200px 0;">
    <h2 class="bold-txt"> Other Activities </h2>
</div>
{% endblock %}

{% block content %}
<!-- Cause Section  -->
<div id="about" style="margin-top: -220px;">
    <div class="container pb-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-md-6" style="z-index: 10;">
                <div style="padding: 135px 25px 0;">
                    <!-- <h3 class="content-title" style="font-size: 2rem; margin-bottom: 20px;">Charity</h3> -->
                    <p style="font-size: 20px;">
                        <strong>{{ content.tagline }}</strong>
                    </p>
                    <p style="font-size: 17px;">
                        {{ content.description|safe }}
                    </p>
                </div>
            </div>
            <div class="col-md-6" style="z-index: 10;">
                <div class="card border text-center">
                    <img class="card-img-top" src='{{ content.picture.url }}' alt="Other Activities"
                        style="height: 500px; width: 100%; object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ACTIVITIES SECTION -->
{% if charity_works.count or user|is_admin %}
<section id="activities" class="glide-carousel-custom">
    <div class="bg-grey" style="padding: 50px 0;">
        <h3 class="section-title">Activities</h3>
        <div class="container">
            {% if charity_works.count %}
            <div class="row">
                <div class="glide charity_works">
                    <div class="glide__track" data-glide-el="track">
                        <ul class="glide__slides">
                            {% for charity in charity_works %}
                            <li class="glide__slide">
                                <div class="card w-100 shadow-sm border border-primary border-rounded mx-auto my-2">
                                    <img src="{{ charity.image.url }}" class="card-img-top home-card-img" alt=""
                                        width="300px">
                                    <div class="card-body pb-0">
                                        <h5 class="card-title font-weight-bold">{{ charity.title }}</h5>
                                        <p class="mb-3">{{ charity.purpose }}, {{ charity.location }}</p>
                                        <a href="{% url 'charitywork:CharityDetail' slug=charity.slug %}"
                                            class="stretched-link"></a>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="glide__arrows disable_arrows d-none d-md-block" data-glide-el="controls">
                        <button class="slider_arrow slider_arrow--prev glide__arrow glide__arrow--left"
                            data-glide-dir="<">
                            <i class="fas fa-arrow-circle-left"></i>
                        </button>
                        <button class="slider_arrow slider_arrow--next glide__arrow glide__arrow--right"
                            data-glide-dir=">">
                            <i class="fas fa-arrow-circle-right"></i>
                        </button>
                    </div>
                    <div class="glide__bullets" data-glide-el="controls[nav]">
                        {% for charity in charity_works %}
                        <button class="glide__bullet" data-glide-dir="={{ forloop.counter0 }}"></button>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="row justify-content-center mt-4">
                <div class="add-activity">
                    {% if user.is_admin %}
                    <!-- <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#add_activity">
                        Create Activity
                    </button> -->
                    <a href="{% url 'admin:charitywork_charity_add' %}?next=activity_details" class="btn btn-primary">Create Activity</a>
                    {% endif %}
                    <div class="modal fade" tabindex="-1" id="add_activity" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title bld">Create Activity</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" enctype="multipart/form-data"
                                        action="{% url 'charitywork:CreateCharity' %}">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col">
                                                <label class="left-label bld" for="">Title</label>
                                                <input type="text" class="form-control" name="title"
                                                    placeholder="Activity Title" required><br>
                                            </div>
                                            <!-- <div class="col">
                                                <label class="left-label bld" for="Admin">Admin</label>
                                                <select required name="admin" class="form-control">
                                                    {% for user in all_users %}
                                                    <option value={{user.pk}}>{{user.first_name}}
                                                        {{user.last_name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div> -->
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <label class="left-label bld" for="">Purpose</label>
                                                <input type="text" class="form-control"
                                                    placeholder="Cyclone 2020" name="purpose" required><br>
                                            </div>
                                            <div class="col">
                                                <label class="left-label bld" for="">Location</label>
                                                <input type="text" placeholder="Location"
                                                    class="form-control" name="location" required><br>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <label class="left-label bld" for="">Start Date</label>
                                                <input type="date" class="form-control"
                                                    name="start_date" required><br>
                                            </div>
                                            <div class="col">
                                                <label class="left-label bld" for="">End Date</label>
                                                <input type="date" class="form-control"
                                                    name="end_date" required><br>
                                            </div>
                                        </div>

                                        <label class="left-label bld" for="">Description</label>
                                        <textarea name="description" class="form-control"
                                            placeholder="Description" id="" cols="80" rows="4"required></textarea><br>

                                        <label class="left-label bld" for="">Thumbnail</label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" name="image" id="inputGroupFile04" 
                                                    aria-describedby="inputGroupFileAddon04" required>
                                                <label class="custom-file-label" for="inputGroupFile04">Add Thumbnail</label>
                                            </div>
                                        </div><br>

                                        <button class="btn btn-primary">Create Activity</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

<!-- Scroll To Top Button -->
<div id="scroll-to-top">
    <div class="hex scroll-top">
        <span><i class="fa fa-arrow-up"></i></span>
    </div>
</div>
{% endblock %}


{% block scripts %}
<!-- Custom JS -->
<script src="{% static 'js/bandhu.js' %}"></script>

<!-- Contact Scrollspy Problem -->
<script>contact_scrollspy()</script>

<!-- Upload Detail in forms -->
<script type="text/javascript">
    $('.custom-file input').change(function (e) {
        $(this).next('.custom-file-label').html($(this)[0].files[0].name);
    });
</script>

<script>
    // CHARITY CAROUSEL
    var charity_glide = new Glide('.charity_works', {
        type: 'carousel',
        focusAt: 'center',
        perView: 3,
        autoplay: 2000,
        gap: 30,
        breakpoints: {
            991: {
                perView: 2,
            },
            767: {
                perView: 1,
            },
        }
    })
    charity_glide.mount()
</script>
{% endblock %}