<!doctype html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Bandhu</title>
		<link rel="icon" href='{% static "img/bandhulogo.gif" %}'>
		<meta name="description" content="Bandhu - is a Charity/NonProfit Organization.">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<script src='{% static "js/modernizr-2.8.0.min.js" %}'></script>

		<link href='{% static "css/bootstrap44.css" %}' rel="stylesheet">

		<!-- <link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet"> -->

		<link href='{% static "css/font-awesome.min.css" %}' rel="stylesheet">

		<link href='{% static "css/linecons-font-style.css" %}' rel="stylesheet">

		<link href='{% static "css/style.css" %}' rel="stylesheet">

		<link href='{% static "css/responsive.css" %}' rel="stylesheet">

		<link rel="stylesheet" href='{% static "css/owl.carousel.css" %}'>

		<link rel="stylesheet" href='{% static "css/prettyPhoto.css" %}'>

		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css">

		<link rel="shortcut icon" href="images/favicon.png">

	</head>
	<body data-spy="scroll" data-target="#navbarResponsive" data-offset="50">
		<div class="main-menu-container navbar-fixed-top">
		<nav class="navbar navbar-default navbar-expand-lg fixed-top" id="main-menu">
			<div class="container">
			  <div class="logosecnavbar" style="display:flex;position:relative;">
				<div class="">
				<a class="navbar-brand" href="./">
					<img class="logo" style="height:70px;width:70px;margin-top:-15px;" src='{% static "img/bandhulogo.png" %}' alt="Logo" rel="hoome">
				</a>
				</div>
				<div class="" style="position:absolute;top:10px;left:75px;text-align:left;margin-top:-8px;">
					<a class="navbar-brand" href="./">
						<h4 style="font-size:0.7em !important;font-family: 'Gelasio', serif;font-weight:600;">Bandhu <br> ଭାଇ </h4>
					</a>
				</div>
			</div>
			  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fa fa-bars"></i>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav text-uppercase ml-auto">
				  <li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="#about">About</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="#recent-activities">Work</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="#gallery">Gallery</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
				  </li>

				</ul>
				{% if user.is_authenticated %}
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" style="font-weight:bold;color:white;" href="{% url 'profilePage' %}">{{user.email}}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" style="font-weight:bold;color:white;"  href="{% url 'logout' %}">Logout</a>
				</li>
				{% else %}
				<a href="{% url 'login' %}" class="donate pull-right" style="text-transform: unset;"> SignIn</a>
				{% endif %}

			  </div>
			</div>
		  </nav>
		</div>


        {% block content %}

        {% endblock %}



		<!-- Footer Section -->
		<footer id="footer-section">
			<div class="footer-section">
				<div class="container">
					<div class="footer-social-btn pull-right">
						<a href="#" class="twitter-btn"><i class="fa fa-twitter"></i></a>
						<a href="#" class="facebook-btn"><i class="fa fa-facebook"></i></a>
						<a href="#" class="github-btn"><i class="fa fa-github-alt"></i></a>
						<a href="#" class="vimeo-btn"><i class="fa fa-vimeo-square"></i></a>
						<a href="#" class="pinterest-btn"><i class="fa fa-pinterest"></i></a>
						<a href="#" class="google-plus-btn"><i class="fa fa-google-plus"></i></a>
						<a href="#" class="youtube-btn"><i class="fa fa-youtube"></i></a>
						<a href="#" class="dribbble-btn"><i class="fa fa-dribbble"></i></a>
						<a href="#" class="linkedin-btn"><i class="fa fa-linkedin"></i></a>
					</div><!-- /.footer-social-btn -->
					<div class="copyrights pull-left">
						&copy; <a href="#">Bandhu</a> 2020, All Rights Reserved

					</div>


				</div><!-- /.container -->
			</div><!-- /.footer-section -->
		</footer><!-- /#footer-section -->
		<!-- Footer Section End -->

		<script src='{% static "js/jquery-3.4.1.min.js" %}'></script>
		<script src='{% static "js/bootstrap.min.js" %}'></script>
		<!-- Include jquery.min.js plugin -->
		<script src='{% static "js/jquery-2.1.0.min.js" %}'></script>

		<!-- Include email-validation.js Email Validator -->
		<script src='{% static "js/email-validation.js" %}'></script>

		<script src='{% static "js/jquery.visible.min.js" %}'></script>

		<!-- included plugins inside  plugins.js -->
		<script src='{% static "js/plugins.js" %}'></script>

		<!-- included plugins inside  plugins.js -->
		<script src='{% static "js/jquery.parallax.js" %}'></script>

		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/glide.js"></script>
		<script type="text/javascript" src='{% static "js/glide.js" %}'></script>

		<!-- Include functions.js -->
		<script src='{% static "js/functions.js" %}'></script>

		<script type="text/javascript">

			/*---------------------- Current Menu Item -------------------------*/
			jQuery(document).ready(function($) {
				"use strict";

				$('#main-menu #headernavigation').onePageNav({
					currentClass: 'active',
					changeHash: false,
					scrollSpeed: 750,
					scrollThreshold: 0.5,
					scrollOffset: 60,
					filter: '',
					easing: 'swing'
				});

			});
		</script>


</body>
</html>
