<!-- <div id="top-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#top-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#top-carousel" data-slide-to="1"></li>
        <li data-target="#top-carousel" data-slide-to="2"></li>
    </ol> -->
    <!-- /.carousel-indicators -->
    <!-- <div class="carousel-inner">

        <div class="item active">
            <h2 class="thin-txt">
                The Best Way To Find Yourself Is To 
            </h2>
            <p class="thin-txt">
                Lose Yourself In The Service Of Others
            </p>	
            <p class="bold-txt">
                - Mahatma Gandhi
            </p> -->

            <!-- <p class="bold-txt" style="font-size: 5em; margin-top: 0; margin-bottom: 31px;">
                BANDHU
            </p>
            <p class="parallax-description" style="width: 70%; margin: auto;">
                BANDHU IS A CHARITY WEBSITE TEMPLATE AND A NOON PROFIT ORGANIZATION WORK WORLDWIDE FOR CHILDREN IN THE BANNER OF "SAVE THE CHILDREN".
            </p> -->

            <!-- <p class="link">
                <a href="#" class="btn custom-btn angle-effect">Learn More</a>
            </p> 				
        </div> -->
        <!-- /.item -->

        <!-- <div class="item">
            <h2 class="thin-txt">
                A NON PROFIT ORGANIZATION
            </h2>	
            <p class="bold-txt">
                To Protect  humanity 
            </p>
            <p class="thin-txt">
                Let's Move on
            </p>

            <p class="link">
                <a href="#" class="btn custom-btn angle-effect">Learn More</a>
            </p> 				
        </div> -->
        <!-- /.item -->

        <!-- <div class="item">
            <h2 class="thin-txt">
                Children's are future
            </h2>	
            <p class="bold-txt">
                WE PROTECT Children
            </p>
            <p class="thin-txt">
                Come with us
            </p>

            <p class="link">
                <a href="#" class="btn custom-btn angle-effect">Learn More</a>
            </p> 
        </div> -->
        <!-- /.item -->
    <!-- </div>
    /.carousel-inner
    <a class="slide-nav left" href="#top-carousel" data-slide="prev"><span></span></a>
    <a class="slide-nav right" href="#top-carousel" data-slide="next"><span></span></a>
</div> -->
<!-- /#top-carousel -->


{% comment %}
<div class="gray-bg angular section-padding">
    <div class="top-angle"></div>
    <div class="container">
        <div class="row">
            <div class="section-content">
                <div class="media-content media-left col-md-4 from-bottom delay-200">
                    <img src='{% static "img/our_mission.jpg" %}' alt="Our Mission">
                </div><!-- /.media-content -->

                <div class="content-box col-md-8 from-bottom delay-600">
                    
                    <h3 class="content-title">Our Mission</h3>
                    <p>
                        <strong>We dream about a new world for the children with no harm. We are aiming to build a strong and a bouncing platform where anyone can work for children worldwide.</strong>
                    </p>
                    <p>
                        Together, we're going to make the future of the children where we are able to fulfill all of their requirements to keep them safe from withered world. We have already stepped out and start changing the world. Keeping safe them from war, inhumanity, Child labor, child abuse and more what we feel harmful for them.
                    </p>
                </div><!-- /.content-box -->
            </div><!-- /.section-content -->
        </div><!-- /.row -->
    </div><!-- /.container -->
    <div class="bottom-angle">				
    </div><!-- /.bottom-angle -->
</div><!-- ./gray-bg -->
{% endcomment %}

{% comment %}
<!-- Five Sections Start Here -->

<!-- Work Section -->
<section id="work">
    <div class="about-section"> 
        

        <div class="gray-bg angular section-padding" style="padding-bottom: 170px;">
            <div class="top-angle"></div>
            <div class="container">
                <div class="section-head" style="margin-bottom: 140px;">
                    <h2 class="section-title-initiatives">Our Initiatives</h2>
                    <p class="section-description">
                        BANDHU IS A CHARITY WEBSITE TEMPLATE AND A NOON PROFIT ORGANIZATION WORK WORLDWIDE FOR CHILDREN IN THE BANNER OF "SAVE THE CHILDREN". WE HELP THE CHILDREN FOR PROPER PHYSICAL AND MENTAL GROWTH.
                    </p><!-- /.section-description -->
                </div><!-- /.section-head -->
                <div class="row" style="margin-bottom: 100px;">
                    <div class="section-content">
                        <div class="media-content media-right col-md-4 from-bottom delay-600">
                            <div class="meida-container">
                                <div id="about-img-carousel" class="about-img-carousel carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#about-img-carousel" data-slide-to="0" class="active"></li>
                                        <li data-target="#about-img-carousel" data-slide-to="1"></li>
                                        <li data-target="#about-img-carousel" data-slide-to="2"></li>
                                    </ol><!-- /.carousel-indicators -->
                                    <div class="carousel-inner">

                                        <div class="item active">
                                            <img src="{% static 'img/pimg6.jpg'%}" alt="carousel image">
                                        </div><!-- /.item -->
                                        <div class="item">
                                            <img src="{% static 'img/pimg2.jpg'%}" alt="carousel image">	
                                        </div><!-- /.item -->
                                        <div class="item">
                                            <img src="{% static 'img/pimg3.jpg'%}" alt="carousel image">
                                        </div><!-- /.item -->
                                    </div><!-- /.carousel-inner -->
                                </div><!-- /#about-img-carousel -->
                            </div><!-- /.meida-container -->
                        </div><!-- /.media-content -->

                        <div class="content-box col-md-8 from-bottom delay-600">
                            <!--  -->
                            <h3 class="content-title">Ankurayan</h3>
                            <p>
                                <strong>We dream about a new world for the children with no harm. We are aiming to build a strong and a bouncing platform where anyone can work for children worldwide.</strong>
                            </p>
                            <p>
                                Together, we're going to make the future of the children where we are able to fulfill all of their requirements to keep them safe from withered world. We have already stepped out and start changing the world. Keeping safe them from war, inhumanity, Child labor, child abuse and more what we feel harmful for them.
                            </p>
                            <a href="{% url 'cause1' %}" class="btn custom-btn angle-effect">Read more</a>
                        </div><!-- /.content-box -->
                    </div><!-- /.section-content -->
                </div><!-- /.row -->
                <div class="row" style="margin-bottom: 100px;">
                    <div class="section-content">
                        <!-- <div class="row"> -->
                            <div class="content-box col-md-8 from-bottom delay-200">
                                <!-- <div class="hex content-icon-hex pull-left">
                                    <div class="content-icon">
                                        <span aria-hidden="true" class="li_bulb"></span>
                                    </div>
                                </div> -->
                                <!-- /.content-icon-hex -->
                                <h3 class="content-title">Sanskarbarg</h3>
                                <p>
                                    <strong>10 Years long run, we are working for the welfare of children. It was a little step, but it's now a big organization and worldwide activity as a child welfare non-profit organization.</strong>
                                </p>
                                <p>
                                    We felt the risky environment and circumstances for children over the world. Then we started working for them in a village. Day after day, we received a delightful response from the people who keep our thinking in their mind. Now, we are helping children in more than 100 countries and huge volunteers are working worldwide.
                                </p>
                                <a href="{% url 'cause2' %}" class="btn custom-btn angle-effect">Read more</a>
                            </div><!-- /.content-box -->

                            <div class="media-content media-right col-md-4 from-bottom delay-600">
                                <div class="meida-container">
                                    <div id="about-img-carousel" class="about-img-carousel carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            <li data-target="#about-img-carousel" data-slide-to="0" class="active"></li>
                                            <li data-target="#about-img-carousel" data-slide-to="1"></li>
                                            <li data-target="#about-img-carousel" data-slide-to="2"></li>
                                        </ol><!-- /.carousel-indicators -->
                                        <div class="carousel-inner">

                                            <div class="item active">
                                                <img src="{% static 'img/pimg6.jpg'%}" alt="carousel image">
                                            </div><!-- /.item -->
                                            <div class="item">
                                                <img src="{% static 'img/pimg2.jpg'%}" alt="carousel image">	
                                            </div><!-- /.item -->
                                            <div class="item">
                                                <img src="{% static 'img/pimg3.jpg'%}" alt="carousel image">
                                            </div><!-- /.item -->
                                        </div><!-- /.carousel-inner -->
                                    </div><!-- /#about-img-carousel -->
                                </div><!-- /.meida-container -->
                            </div><!-- /.media-content -->
                        <!-- </div> -->
                        <!-- row -->
                    </div><!-- /.section-content -->
                </div><!-- /.row -->
                <div class="row" style="margin-bottom: 100px;">
                    <div class="section-content">
                        <div class="media-content media-right col-md-4 from-bottom delay-600">
                            <div class="meida-container">
                                <div id="about-img-carousel" class="about-img-carousel carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#about-img-carousel" data-slide-to="0" class="active"></li>
                                        <li data-target="#about-img-carousel" data-slide-to="1"></li>
                                        <li data-target="#about-img-carousel" data-slide-to="2"></li>
                                    </ol><!-- /.carousel-indicators -->
                                    <div class="carousel-inner">

                                        <div class="item active">
                                            <img src="{% static 'img/pimg6.jpg'%}" alt="carousel image">
                                        </div><!-- /.item -->
                                        <div class="item">
                                            <img src="{% static 'img/pimg2.jpg'%}" alt="carousel image">	
                                        </div><!-- /.item -->
                                        <div class="item">
                                            <img src="{% static 'img/pimg3.jpg'%}" alt="carousel image">
                                        </div><!-- /.item -->
                                    </div><!-- /.carousel-inner -->
                                </div><!-- /#about-img-carousel -->
                            </div><!-- /.meida-container -->
                        </div><!-- /.media-content -->

                        <div class="content-box col-md-8 from-bottom delay-600">
                            <!--  -->
                            <h3 class="content-title">Anand Kendra</h3>
                            <p>
                                <strong>We dream about a new world for the children with no harm. We are aiming to build a strong and a bouncing platform where anyone can work for children worldwide.</strong>
                            </p>
                            <p>
                                Together, we're going to make the future of the children where we are able to fulfill all of their requirements to keep them safe from withered world. We have already stepped out and start changing the world. Keeping safe them from war, inhumanity, Child labor, child abuse and more what we feel harmful for them.
                            </p>
                            <a href="{% url 'cause1' %}" class="btn custom-btn angle-effect">Read more</a>
                        </div><!-- /.content-box -->
                    </div><!-- /.section-content -->
                </div><!-- /.row -->
                <div class="row" style="margin-bottom: 100px;">
                    <div class="section-content">
                        <!-- <div class="row"> -->
                            <div class="content-box col-md-8 from-bottom delay-200">
                                <!-- <div class="hex content-icon-hex pull-left">
                                    <div class="content-icon">
                                        <span aria-hidden="true" class="li_bulb"></span>
                                    </div>
                                </div> -->
                                <!-- /.content-icon-hex -->
                                <h3 class="content-title">Ashram</h3>
                                <p>
                                    <strong>10 Years long run, we are working for the welfare of children. It was a little step, but it's now a big organization and worldwide activity as a child welfare non-profit organization.</strong>
                                </p>
                                <p>
                                    We felt the risky environment and circumstances for children over the world. Then we started working for them in a village. Day after day, we received a delightful response from the people who keep our thinking in their mind. Now, we are helping children in more than 100 countries and huge volunteers are working worldwide.
                                </p>
                                <a href="{% url 'cause2' %}" class="btn custom-btn angle-effect">Read more</a>
                            </div><!-- /.content-box -->

                            <div class="media-content media-right col-md-4 from-bottom delay-600">
                                <div class="meida-container">
                                    <div id="about-img-carousel" class="about-img-carousel carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            <li data-target="#about-img-carousel" data-slide-to="0" class="active"></li>
                                            <li data-target="#about-img-carousel" data-slide-to="1"></li>
                                            <li data-target="#about-img-carousel" data-slide-to="2"></li>
                                        </ol><!-- /.carousel-indicators -->
                                        <div class="carousel-inner">

                                            <div class="item active">
                                                <img src="{% static 'img/pimg6.jpg'%}" alt="carousel image">
                                            </div><!-- /.item -->
                                            <div class="item">
                                                <img src="{% static 'img/pimg2.jpg'%}" alt="carousel image">	
                                            </div><!-- /.item -->
                                            <div class="item">
                                                <img src="{% static 'img/pimg3.jpg'%}" alt="carousel image">
                                            </div><!-- /.item -->
                                        </div><!-- /.carousel-inner -->
                                    </div><!-- /#about-img-carousel -->
                                </div><!-- /.meida-container -->
                            </div><!-- /.media-content -->
                        <!-- </div> -->
                        <!-- row -->
                    </div><!-- /.section-content -->
                </div><!-- /.row -->
                <div class="row">
                    <div class="section-content">
                        <div class="media-content media-right col-md-4 from-bottom delay-600">
                            <div class="meida-container">
                                <div id="about-img-carousel" class="about-img-carousel carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#about-img-carousel" data-slide-to="0" class="active"></li>
                                        <li data-target="#about-img-carousel" data-slide-to="1"></li>
                                        <li data-target="#about-img-carousel" data-slide-to="2"></li>
                                    </ol><!-- /.carousel-indicators -->
                                    <div class="carousel-inner">

                                        <div class="item active">
                                            <img src="{% static 'img/pimg6.jpg'%}" alt="carousel image">
                                        </div><!-- /.item -->
                                        <div class="item">
                                            <img src="{% static 'img/pimg2.jpg'%}" alt="carousel image">	
                                        </div><!-- /.item -->
                                        <div class="item">
                                            <img src="{% static 'img/pimg3.jpg'%}" alt="carousel image">
                                        </div><!-- /.item -->
                                    </div><!-- /.carousel-inner -->
                                </div><!-- /#about-img-carousel -->
                            </div><!-- /.meida-container -->
                        </div><!-- /.media-content -->

                        <div class="content-box col-md-8 from-bottom delay-600">
                            <!--  -->
                            <h3 class="content-title">Charity Work</h3>
                            <p>
                                <strong>We dream about a new world for the children with no harm. We are aiming to build a strong and a bouncing platform where anyone can work for children worldwide.</strong>
                            </p>
                            <p>
                                Together, we're going to make the future of the children where we are able to fulfill all of their requirements to keep them safe from withered world. We have already stepped out and start changing the world. Keeping safe them from war, inhumanity, Child labor, child abuse and more what we feel harmful for them.
                            </p>
                            <a href="{% url 'cause1' %}" class="btn custom-btn angle-effect">Read more</a>
                        </div><!-- /.content-box -->
                    </div><!-- /.section-content -->
                </div><!-- /.row -->
            </div><!-- /.container -->
            <!-- <div class="bottom-angle">				
            </div> -->
            <!-- /.bottom-angle -->

        </div><!-- ./gray-bg -->
    </div><!-- /.team-section -->
</section><!-- /#team-->
<!-- Team Section End -->
{% endcomment %}

{% comment %}
<!-- Team Section -->
<section id="cause3">
    <div class="about-section"> 
        

        <div class="gray-bg angular section-padding" style="padding-bottom: 200px;">
            <div class="top-angle"></div>
            <div class="container">
                <div class="row">
                    <div class="section-content">
                        <div class="media-content media-right col-md-4 from-bottom delay-600">
                            <div class="meida-container">
                                <div id="about-img-carousel" class="about-img-carousel carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#about-img-carousel" data-slide-to="0" class="active"></li>
                                        <li data-target="#about-img-carousel" data-slide-to="1"></li>
                                        <li data-target="#about-img-carousel" data-slide-to="2"></li>
                                    </ol><!-- /.carousel-indicators -->
                                    <div class="carousel-inner">

                                        <div class="item active">
                                            <img src="{% static 'img/pimg6.jpg'%}" alt="carousel image">
                                        </div><!-- /.item -->
                                        <div class="item">
                                            <img src="{% static 'img/pimg2.jpg'%}" alt="carousel image">	
                                        </div><!-- /.item -->
                                        <div class="item">
                                            <img src="{% static 'img/pimg3.jpg'%}" alt="carousel image">
                                        </div><!-- /.item -->
                                    </div><!-- /.carousel-inner -->
                                </div><!-- /#about-img-carousel -->
                            </div><!-- /.meida-container -->
                        </div><!-- /.media-content -->

                        <div class="content-box col-md-8 from-bottom delay-600">
                            <!--  -->
                            <h3 class="content-title">Cause 3</h3>
                            <p>
                                <strong>We dream about a new world for the children with no harm. We are aiming to build a strong and a bouncing platform where anyone can work for children worldwide.</strong>
                            </p>
                            <p>
                                Together, we're going to make the future of the children where we are able to fulfill all of their requirements to keep them safe from withered world. We have already stepped out and start changing the world. Keeping safe them from war, inhumanity, Child labor, child abuse and more what we feel harmful for them.
                            </p>
                            <a href="{% url 'cause3' %}" class="btn custom-btn angle-effect">Read more</a>
                        </div><!-- /.content-box -->
                    </div><!-- /.section-content -->
                </div><!-- /.row -->
            </div><!-- /.container -->

            <!-- <div class="bottom-angle">				
            </div> -->
            <!-- /.bottom-angle -->

        </div><!-- ./gray-bg -->
    </div><!-- /.team-section -->
</section><!-- /#team-->
<!-- Team Section End -->


<!-- Volunteer Section -->
<section id="cause4">
    <div class="about-section"> 
        

        <div class="white-bg angular section-padding">
            <div class="top-angle"></div>
            <div class="container">
                <div class="row">
                    <div class="section-content">
                        <div class="row">
                            <div class="content-box col-md-8 from-bottom delay-200">
                                <!-- <div class="hex content-icon-hex pull-left">
                                    <div class="content-icon">
                                        <span aria-hidden="true" class="li_bulb"></span>
                                    </div>
                                </div> -->
                                <!-- /.content-icon-hex -->
                                <h3 class="content-title">Cause 4</h3>
                                <p>
                                    <strong>10 Years long run, we are working for the welfare of children. It was a little step, but it's now a big organization and worldwide activity as a child welfare non-profit organization.</strong>
                                </p>
                                <p>
                                    We felt the risky environment and circumstances for children over the world. Then we started working for them in a village. Day after day, we received a delightful response from the people who keep our thinking in their mind. Now, we are helping children in more than 100 countries and huge volunteers are working worldwide.
                                </p>
                                <a href="{% url 'cause4' %}" class="btn custom-btn angle-effect">Read more</a>
                            </div><!-- /.content-box -->

                            <div class="media-content media-right col-md-4 from-bottom delay-600">
                                <div class="meida-container">
                                    <div id="about-img-carousel" class="about-img-carousel carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            <li data-target="#about-img-carousel" data-slide-to="0" class="active"></li>
                                            <li data-target="#about-img-carousel" data-slide-to="1"></li>
                                            <li data-target="#about-img-carousel" data-slide-to="2"></li>
                                        </ol><!-- /.carousel-indicators -->
                                        <div class="carousel-inner">

                                            <div class="item active">
                                                <img src="{% static 'img/pimg6.jpg'%}" alt="carousel image">
                                            </div><!-- /.item -->
                                            <div class="item">
                                                <img src="{% static 'img/pimg2.jpg'%}" alt="carousel image">	
                                            </div><!-- /.item -->
                                            <div class="item">
                                                <img src="{% static 'img/pimg3.jpg'%}" alt="carousel image">
                                            </div><!-- /.item -->
                                        </div><!-- /.carousel-inner -->
                                    </div><!-- /#about-img-carousel -->
                                </div><!-- /.meida-container -->
                            </div><!-- /.media-content -->
                        </div><!-- row -->
                    </div><!-- /.section-content -->
                </div><!-- /.row -->
            </div><!-- /.container -->

            <div class="bottom-angle">				
            </div><!-- /.bottom-angle -->

        </div><!-- ./gray-bg -->
    </div><!-- /.volunteer-section -->
</section><!-- /#volunteer -->
<!-- Volunteer Section End -->

<!-- About Section -->
<section id="cause5">
    <div class="about-section"> 
        

        <div class="gray-bg angular section-padding">
            <div class="top-angle"></div>
            <div class="container">
                <div class="row">
                    <div class="section-content">
                        <div class="media-content media-right col-md-4 from-bottom delay-600">
                            <div class="meida-container">
                                <div id="about-img-carousel" class="about-img-carousel carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#about-img-carousel" data-slide-to="0" class="active"></li>
                                        <li data-target="#about-img-carousel" data-slide-to="1"></li>
                                        <li data-target="#about-img-carousel" data-slide-to="2"></li>
                                    </ol><!-- /.carousel-indicators -->
                                    <div class="carousel-inner">

                                        <div class="item active">
                                            <img src="{% static 'img/pimg6.jpg'%}" alt="carousel image">
                                        </div><!-- /.item -->
                                        <div class="item">
                                            <img src="{% static 'img/pimg2.jpg'%}" alt="carousel image">	
                                        </div><!-- /.item -->
                                        <div class="item">
                                            <img src="{% static 'img/pimg3.jpg'%}" alt="carousel image">
                                        </div><!-- /.item -->
                                    </div><!-- /.carousel-inner -->
                                </div><!-- /#about-img-carousel -->
                            </div><!-- /.meida-container -->
                        </div><!-- /.media-content -->

                        <div class="content-box col-md-8 from-bottom delay-600">
                            <h3 class="content-title">Cause 5</h3>
                            <p>
                                <strong>We dream about a new world for the children with no harm. We are aiming to build a strong and a bouncing platform where anyone can work for children worldwide.</strong>
                            </p>
                            <p>
                                Together, we're going to make the future of the children where we are able to fulfill all of their requirements to keep them safe from withered world. We have already stepped out and start changing the world. Keeping safe them from war, inhumanity, Child labor, child abuse and more what we feel harmful for them.
                            </p>
                            <a href="{% url 'cause5' %}" class="btn custom-btn angle-effect">Read more</a>
                        </div><!-- /.content-box -->
                    </div><!-- /.section-content -->
                </div><!-- /.row -->
            </div><!-- /.container -->

            <div class="bottom-angle">				
            </div><!-- /.bottom-angle -->

        </div><!-- ./gray-bg -->
    </div><!-- /.about-section -->
</section><!-- /#about-->
<!-- About Section End -->

{% endcomment %}

<!-- Google Map Section -->
<div id="google-map">
    <div class="map-container">
        <div id="googleMaps" class="google-map-container"></div>
    </div>
</div><!-- /#google-map-->
<!-- Google Map Section End -->	

<!-- Google Maps Script  -->
<script src="http://maps.google.com/maps/api/js?sensor=true"></script> 

<!-- Gmap3.js For Static Maps -->
<script src='{% static "js/gmap3.js" %}'></script>


<script type="text/javascript">

    /*---------------------- Current Menu Item -------------------------*/
    jQuery(document).ready(function($) {
        "use strict";

        $('#main-menu #headernavigation').onePageNav({
            currentClass: 'active',
            changeHash: false,
            scrollSpeed: 750,
            scrollThreshold: 0.5,
            scrollOffset: 60,
            filter: '',
            easing: 'swing'
        }); 

        $('#event_time_countdown').countDown({
            targetDate: {
                'day': 23,
                'month': 9,
                'year': 2020,
                'hour': 0,
                'min': 0,
                'sec': 0
            },
            omitWeeks: true
        });


        /*----------- Google Map - with support of gmaps.js ----------------*/
        function isMobile() { 
            return ('ontouchstart' in document.documentElement);
        }

        function init_gmap() {
            if ( typeof google == 'undefined' ) return;
            var options = {
                center: [23.709921, 90.407143],
                zoom: 15,
                mapTypeControl: true,
                mapTypeControlOptions: {
                    style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
                },
                navigationControl: true,
                scrollwheel: false,
                streetViewControl: true
            }

            if (isMobile()) {
                options.draggable = false;
            }

            $('#googleMaps').gmap3({
                map: {
                    options: options
                },
                marker: {
                    latLng: [23.709921, 90.407143],
                    options: { icon: 'assets/images/mapicon.png' }
                }
            });
        }

        init_gmap();

    });
</script>