{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}
{% load permissions %}

{% block title %} Bandhu {% endblock %}

{% block style %}
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'css/bandhu.css' %}" >
<link rel="stylesheet" href="{% static 'vendor/css/bootstrap-select.min.css' %}">

<!-- Custom Style -->
<style>
    #top-section {
        background: url("{{ content.banner_image.url }}") 50% center no-repeat fixed;
    }
</style>
{% endblock %}

{% block navbar-links %}
<li class="nav-item">
    <a class="nav-link px-3 px-lg-2" href="#about">About</a>
</li>
{% if people_designations %}
<li class="nav-item dropdown">
    <a class="nav-link px-3 px-lg-2 dropdown-toggle" href="/people">
      People
    </a>
    <div class="dropdown-menu">
        {% for desg in people_designations %}
            <a class="dropdown-item" href="/people#{{desg.title|to_snake_case}}">{{desg.title}}</a>
        {% endfor %}
    </div>
</li>
{% endif %}
<!-- <li class="nav-item">
    <a class="nav-link px-3 px-lg-2" href="#mission">Mission</a>
</li> -->
<li class="nav-item dropdown">
    <a class="nav-link px-3 px-lg-2 dropdown-toggle" href="#mission">
      Mission
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#sanskar">Sanskar</a>
      <a class="dropdown-item" href="#swaraj">Swaraj</a>
      <a class="dropdown-item" href="#swabalamban">Swabalamban</a>
    </div>
</li>
{% if recent_events %}
<li class="nav-item">
    <a class="nav-link px-3 px-lg-2" href="#recent-activities">Recents</a>
</li>
{% endif %}
<li class="nav-item">
    <a class="nav-link px-3 px-lg-2" href="#gallery">Gallery</a>
</li>
<li class="nav-item">
    <a class="nav-link px-3 px-lg-2" href="#contact">Contact</a>
</li>
{% endblock %}

{% block showcase-title-container %}
<div class="slider-txt-container" style="padding: 210px 0 300px 0;">
    <p class="bold-txt mb-3" style="font-family: 'Libre Franklin', sans-serif;">
        BANDHU
    </p>
    <p id="header-text" class="parallax-description font-weight-bold" style="color: #ff9800; ">
        <span class="d-block" lang="or" style="font-family: oriya;">ସବାଶେଷ  ମଣିଷର </span>
    </p>
    <!-- <p class="parallax-description pt-3" style="font-weight:500; font-family:cursive; text-transform: capitalize ;">
        Sanskar, Swaraj and Swabalamban
    </p> -->
</div>

{% endblock %}

{% block content %}

<!-- Recent Activities tab -->

<!-- Modal to show activity -->
<div class="modal" id="recent-activity-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content recent-activity-modal-content">
        <div class="recent-activity-modal-header">Activity</div>
        <a href="#" target="_blank" class="recent-activity-modal-title">Title</a>
        <div class="recent-activity-modal-desc">Description..</div>
      <img src="#" class="recent-activity-modal-image"/>
    </div>
  </div>
</div>
<div class="recent-activities">
    <button class="btn btn-primary recent-activities-btn collapsed" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        NOTICE BOARD
        <i style="margin-left:10px !important;" class="fas fa-chevron-down"></i>
    </button>
    <div class="collapse recent-activities-collapse shadow-sm" id="collapseExample">
        <div class="card card-body recent-activity-card">
            <ol class="recent-activity-ol">
                {% for act in recent_activities %}
                    {% if act.end_date %}
                        <!-- If it is an event. So, keep "New" until event is over -->
                        {% if act.end_date|date:"Y-m-d" >= curr_date|date:"Y-m-d" %}
                        <div class="ribbon-new">New</div>
                        {% endif %}
                    {% elif act.start_date %}
                        {% if act.start_date|date:"Y-m-d" > act.date_created|date:"Y-m-d" and act.start_date|date:"Y-m-d" >= curr_date|date:"Y-m-d" %}
                        <!-- If it is a one day event, keep "New" until event is over -->
                        <div class="ribbon-new">New</div>
                        {% elif act.start_date|date:"Y-m-d" == act.date_created|date:"Y-m-d" and act.start_date|date:"Y-m-d" >= seven_day_delta|date:"Y-m-d" %}
                        <!-- If it is a notifiation, keep "New" for 7 days -->
                        <div class="ribbon-new">New</div>
                        {% endif %}
                    {% else %}
                        <!-- If no date is mentioned, keep "New" for 7 days -->
                        {% if act.date_created|date:"Y-m-d" >= seven_day_delta|date:"Y-m-d" %}
                        <div class="ribbon-new">New</div>
                        {% endif %}
                    {% endif %}

                    <a href="{{ act.link }}" id="{{ act.id }}" class="recent-activity-bar" target="_blank" style="font-size: 20px; text-decoration: none;">
                        <li class="recent-activity-li">
                            {{ act.title }}
                            <p style="font-size: 13px;">{{ act.description|truncatechars:135 }}</p>
                            {% if act.start_date %}
                            <p style="font-size: 12px; font-weight: bolder; float: right; margin-top:-18px; margin-right: -30px;">
                                <i class="far fa-calendar-alt"></i>
                                {% if act.end_date %}
                                    {% if act.start_date|date:"Y" != act.end_date|date:"Y" %}
                                        {{ act.start_date }} - {{ act.end_date }}
                                    {% elif act.start_date|date:"M" != act.end_date|date:"M" %}
                                        {{ act.start_date|date:"M d" }} - {{ act.end_date|date:"M d" }}, {{ act.start_date.year }}
                                    {% elif act.start_date|date:"d" != act.end_date|date:"d" %}
                                        {{ act.start_date|date:"M" }} {{ act.start_date|date:"d" }} - {{ act.end_date|date:"d" }}, {{ act.start_date.year }}
                                    {% else %}
                                        {{ act.start_date }}
                                    {% endif %}
                                {% else %}
                                    {{ act.start_date }}
                                {% endif %}
                            </p>
                            {% endif %}
                        </li>
                    </a>
                {% endfor %}
            </ol>
        </div>
    </div>

</div>


<!-- Initiatives Cards Section -->
<section id="initiatives" style="margin-top: -200px;">
    <div class="row justify-content-center initiatives mx-1">
        <div class="col-lg-20 col-md-4 col-sm-6 px-1">
            <div class="col-sm card mx-auto" >
                <img src="{{ initiatives.ankurayan_thumb.url }}" class="rounded-top card-img-top">
                <div class="card-body p-3">
                    <h5 class="card-title content-title font-weight-bolder" style="text-align: center;">Ankurayan</h5>
                    <p class="content-description">
                        {{ initiatives.ankurayan_desc|safe }}
                    </p>
                </div>
                <a href="{% url 'ankurayan:ankurayan' %}" class="stretched-link"></a>
            </div>
        </div>
        <div class="col-lg-20 col-md-4 col-sm-6 px-1">
            <div class="col-sm card  mx-auto" >
                <img src="{{ initiatives.kendra_thumb.url }}" class="rounded-top">
                <div class="card-body p-3">
                    <h5 class="card-title content-title font-weight-bolder">Anandakendra</h5>
                    <p class="content-description">
                        {{ initiatives.kendra_desc|safe }}
                    </p>
                </div>
                <a href="{% url 'anandakendra:anandakendra' %}" class="stretched-link"></a>
            </div>
        </div>
        <div class="col-lg-20 col-md-4 col-sm-6 px-1">
            <div class="col-sm card  mx-auto" >
                <img src="{{ initiatives.bandhughar_thumb.url }}" class="rounded-top">
                <div class="card-body p-3">
                    <h5 class="card-title content-title font-weight-bolder">Bandhughar</h5>
                    <p class="content-description">
                        {{ initiatives.bandhughar_desc|safe }}
                    </p>
                </div>
                <a href="{% url 'ashram:ashram' %}" class="stretched-link"></a>
            </div>
        </div>
        <div class="col-lg-20 col-md-4 col-sm-6 px-1">
            <div class="col-sm card  mx-auto" >
                <img src="{{ initiatives.otheract_thumb.url }}" class="rounded-top">
                <div class="card-body p-3">
                    <h5 class="card-title content-title font-weight-bolder">Other Activities</h5>
                    <p class="content-description">
                        {{ initiatives.otheract_desc|safe }}
                    </p>
                </div>
                <a href="{% url 'charitywork:charity_work' %}" class="stretched-link"></a>
            </div>
        </div>
        <div class="col-lg-20 col-md-4 col-sm-6 px-1">
            <div class="col-sm card  mx-auto" >
                <img src="{{ initiatives.publications_thumb.url }}" class="rounded-top">
                <div class="card-body p-3">
                    <h5 class="card-title content-title font-weight-bolder">Our Publications</h5>
                    <p class="content-description">
                        {{ initiatives.publications_desc|safe }}
                    </p>
                </div>
                <a href="{% url 'publications:index' %}" class="stretched-link"></a>
            </div>
        </div>
    </div>
</section>
<!-- Initiatives Cards Section Ends -->
<section id="current-updates" class="current-updates">
    <div class="d-flex flex-row justify-content-center">
        <table style="font-family:Verdana, Arial, Helvetica, sans-serif;font-size:14px;" width="97%">
            <tbody>
                <tr style="border:thin #ff9800 inset;color:#ff9800;">
                    <td style="color:black;padding-left: 10px;font-weight: bold;" width="15%" bgcolor="#ff9800">Current Updates:-</td>
                    <td width="80%">
                        <marquee behavior="scroll" scrollamount="4" direction="left" style="margin-top:2px;" onmouseover="this.stop();" onmouseout="this.start();" width="100%" class="current-updates-marquee">
                            {% for update in current_updates %}
                                {% if update.url %}
                                <a href="{{ update.url }}" target="_blank">{{ update.desc | safe}}</a>
                                {% else %}
                                <a>{{update.desc | safe}}</a>
                                {% endif %}
                            {% endfor %}
                        </marquee>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<!-- About secion -->
<section id="about" class="mb-4">
    <h3 class="section-title mt-5 pt-3">About Us</h3>
    <div class="container">
        <div class="content-box mt-4 text-center">
            <p style="font-size: 20px;">
                <strong>{{ about.tagline|safe }}</strong>
            </p>
            <p style="font-size: 18px;">
                {{ about.desc|safe }}
            </p>
        </div>
    </div>
</section>

<!-- Mission Section -->
<section id="mission">
    <h3 class="section-title mt-5 pt-3 pt-sm-0">Our Mission</h3>
    <div class="container">
        <div class="section-content">
            <!-- SANSKAR -->
            <div id="sanskar">
                <div class="row justify-content-center mb-5">
                    <h3 class="content-title d-md-none mb-4">Sanskar</h3>
                    <div class="col-md-5 col-lg-4 align-self-center">
                        <div id="sanskar-carousel" class="carousel slide m-auto" data-ride="carousel">
                            {% if mission.sanskarcarousel_set.count > 1 %}
                            <ul class="carousel-indicators">
                                {% for img in mission.sanskarcarousel_set.all %}
                                <li data-target="#sanskar-carousel" data-slide-to="{{ forloop.counter0 }}"
                                    class="{% if forloop.counter == 1 %}active{% endif %}"></li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            <div class="carousel-inner">
                                {% for img in mission.sanskarcarousel_set.all %}
                                <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                                    <img src="{{ img.picture.url }}" alt="carousel image">
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="content-box col-md-7 col-lg-8 mt-4">
                        <h3 class="content-title d-none d-md-block">Sanskar</h3>
                        <p>
                            <strong>
                                {{ mission.sanskar_tagline|safe }}
                            </strong>
                        </p>
                        <p>
                            {{ mission.sanskar_desc|safe }}
                        </p>
                    </div>
                </div>
            </div>
            <!-- SWARAJ -->
            <div id="swaraj">
                <div class="row justify-content-center mb-5">
                    <h3 class="content-title d-md-none mb-4">Swaraj</h3>
                    <div class="col-md-5 col-lg-4 align-self-center">
                        <div id="swaraj-carousel" class="carousel slide m-auto" data-ride="carousel">
                            {% if mission.swarajcarousel_set.count > 1 %}
                            <ul class="carousel-indicators">
                                {% for img in mission.swarajcarousel_set.all %}
                                <li data-target="#swaraj-carousel" data-slide-to="{{ forloop.counter0 }}"
                                    class="{% if forloop.counter == 1 %}active{% endif %}"></li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            <div class="carousel-inner">
                                {% for img in mission.swarajcarousel_set.all %}
                                <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                                    <img src="{{ img.picture.url }}" alt="carousel image">
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="content-box col-md-7 col-lg-8 mt-4 order-md-first">

                        <h3 class="content-title d-none d-md-block">Swaraj</h3>
                        <p>
                            <strong>
                                {{ mission.swaraj_tagline|safe }}
                            </strong>
                        </p>
                        <p>
                            {{ mission.swaraj_desc|safe }}
                        </p>
                    </div>
                </div>
            </div>
            <!-- SWABALAMBAN -->
            <div id="swabalamban">
                <div class="row justify-content-center mb-5">
                    <h3 class="content-title d-md-none mb-4">Swabalamban</h3>
                    <div class="col-md-5 col-lg-4 align-self-center">
                        <div id="swabalamban-carousel" class="carousel slide m-auto" data-ride="carousel">
                            {% if mission.swabalambancarousel_set.count > 1 %}
                            <ul class="carousel-indicators">
                                {% for img in mission.swabalambancarousel_set.all %}
                                <li data-target="#swabalamban-carousel" data-slide-to="{{ forloop.counter0 }}"
                                    class="{% if forloop.counter == 1 %}active{% endif %}"></li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            <div class="carousel-inner">
                                {% for img in mission.swabalambancarousel_set.all %}
                                <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                                    <img src="{{ img.picture.url }}" alt="carousel image">
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="content-box col-md-7 col-lg-8 mt-4">
                        <h3 class="content-title d-none d-md-block">Swabalamban</h3>
                        <p>
                            <strong>
                                {{ mission.swabalamban_tagline|safe }}
                            </strong>
                        </p>
                        <p>
                            {{ mission.swabalamban_desc|safe }}
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- About Section Ends -->
<!-- Recent Activities Section -->
{% if recent_events %}
<section id="recent-activities" class="glide-carousel-custom">
    <div class="bg-grey" style="padding: 50px 0;">
        <div class="container">
            <div class="row">
                <div class="section-content w-100">
                    <div class="content-box from-bottom delay-200">
                        <h3 class="section-title">Recent Activities</h3>
                        <div class="glide">
                            <div class="glide__track" data-glide-el="track">
                                <ul class="glide__slides">
                                    {% for event in recent_events %}
                                    <li class="glide__slide">
                                        <div class="card w-100 shadow-sm border border-primary border-rounded mx-auto my-2">
                                            <img src="{{ event.thumb.url }}" class="card-img-top home-card-img" alt=""  width="300px">
                                            <div class="card-body pb-0">
                                                <h5 class="card-title font-weight-bold">{{ event.name }}</h5>
                                                <p class="mb-3">
                                                    {{ event.kendra }}{{ event.category.ankurayan }}{{ event.ashram }}{{ event.charity }}
                                                <br>
                                                </p>
                                                <a href="#" class="stretched-link" data-target="#recent-modal{{forloop.counter0}}" data-toggle="modal"></a>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                                <div class="glide__arrows disable_arrows d-none d-md-block" data-glide-el="controls">
                                <button class="slider_arrow slider_arrow--prev glide__arrow glide__arrow--left" data-glide-dir="<">
                                    <i class="fas fa-arrow-circle-left"></i>
                                </button>
                                <button class="slider_arrow slider_arrow--next glide__arrow glide__arrow--right" data-glide-dir=">">
                                    <i class="fas fa-arrow-circle-right"></i>
                                </button>
                            </div>
                            <div class="glide__bullets" data-glide-el="controls[nav]">
                                {% for event in recent_events %}
                                <button class="glide__bullet" data-glide-dir="={{ forloop.counter0 }}"></button>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- MODAL -->
{% for event in recent_events %}
<div class="modal fade bd-example-modal-lg" tabindex="-1" id="recent-modal{{forloop.counter0}}" role="dialog"
aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title bld" id="exampleModalLongTitle">{{event.name}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <div id="event{{ forloop.count0 }}-carousel" class="carousel slide m-auto" data-ride="carousel">
                        <ul class="carousel-indicators">
                            <li data-target="#event{{ forloop.count0 }}-carousel" data-slide-to="0" class=""></li>
                            <li data-target="#event{{ forloop.count0 }}-carousel" data-slide-to="1" class=""></li>
                            <li data-target="#event{{ forloop.count0 }}-carousel" data-slide-to="2" class="active"></li>
                        </ul>
                        <div class="carousel-inner">
                            <div class="carousel-item">
                                <img src="{% static 'img/pimg6.jpg' %}" alt="carousel image" class="w-100">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'img/pimg2.jpg' %}" alt="carousel image" class="w-100">
                            </div>
                            <div class="carousel-item active">
                                <img src="{% static 'img/pimg3.jpg' %}" alt="carousel image" class="w-100">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3 class="font-weight-bolder">Description</h3>
                    {{ event.description }}
                </div>
            </div>

        </div>
    </div>
</div>
</div>
{% endfor %}
{% endif %}
<!-- Recent Activities Section Ends -->
<!-- Volunteer Section -->
<section id="volunteer">
    <div class="parallax-style text-white text-center">
        <div class="parallax-overlay dark-overlay section-padding" style="padding: 80px 0 70px;">
            <div class="container">
                <div class="section-head" style="margin-bottom:60px;">
                    <h3 class="section-title parallax-title" style="word-spacing: 5px;">
                        {{ volunteer.title }}
                    </h3>
                </div>

                <div class="row justify-content-center">
                    <p class="parallax-description w-100 px-3" style="font-size:1.7em; line-height:35px; margin-bottom: 30px;">
                        {{ volunteer.tagline }}
                    </p>
                    <button type="button" class="btn btn-outline-light py-2 px-4 custom-btn angle-effect">
                        <a href="{% url 'signup' %}" class="d-block text-decoration-none text-white">Join Now</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Volunteer Section End-->

<section id="gallery">
    <div class="bg-grey" style="padding: 80px 0 60px;">
        <div class="container">
            <div class="section-head">
                <h2 class="section-title">
                    Gallery
                </h2>
                <p class="section-description">
                    {{ gallery.tagline }}
                </p>
            </div>

            <div id="gallery-container" class="gallery-container">
                <div class="galleryFilter">
                    <a href="#" data-filter="" class="current">All</a>
                    <a href="#" data-filter=".ankurayan">Ankurayan</a>
                    <a href="#" data-filter=".anandakendra">Anandakendra</a>
                    <a href="#" data-filter=".bandhughar">Bandhughar</a>
                    <a href="#" data-filter=".other">Other Activities</a>
                </div>

                <div class="gallery-item element-from-bottom clearfix">
                    {% for photo in photos %}
                    <figure class="item {{ photo.tags }}">
                        <img src='{{ photo.picture.url }}' alt="Photo" data-rel="photoSwipe">
                        <a href="javascript:pswpInit({{ forloop.counter0 }})" class="stretched-link">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </figure>
                    {% endfor %}
                    <figure id="load-more" class="item ankurayan anandakendra bandhughar other">
                        <img alt="Photo">
                        <a href="javascript:void(0);" class="stretched-link">
                            <p class="text-center">Show More</p>
                        </a>
                    </figure>
                </div>
            </div>
            {% if user.is_authenticated %}
            <div class="row justify-content-center mt-4">
                <div class="col col-sm-5 add-images text-center">
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                        data-target="#addToGallery">
                        Upload Image
                    </button>
                    <div class="modal fade bd-example-modal-lg" tabindex="-1" id="addToGallery" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title bld" id="exampleModalLongTitle">Upload Images</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" enctype="multipart/form-data" name="imageUploadForm"
                                            action="{% url 'add_image' %}" onsubmit="return imageValidation()">
                                        {% csrf_token %}
                                        <label class="left-label bld" for="">Image</label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input"
                                                    name="image" id="inputGroupFile04"
                                                    aria-describedby="inputGroupFileAddon04">
                                                <label class="custom-file-label" for="inputGroupFile04">Add
                                                    Image</label>
                                            </div>
                                        </div><br>
                                        <label class="left-label bld" for="">Caption</label>
                                        <textarea class="form-control" name="caption" rows="3"
                                            placeholder="Caption for image (optional)"></textarea><br>
                                        <label class="left-label bld" for="tags-select">Tags</label>
                                        <select id="tags-select" class="form-control selectpicker" name="tags" multiple>
                                            <option value="ankurayan">Ankurayan</option>
                                            <option value="anandakendra">Anandakendra</option>
                                            <option value="bandhughar">Bandhughar</option>
                                            <option value="other">Other Activities</option>
                                        </select><br>
                                        <button class="btn btn-primary w-50 mt-4">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col col-sm-5 approve-images text-center">
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                        data-target="#deleteImages">
                        Delete Images
                    </button>
                </div> -->
                {% if user|is_admin %}
                <div class="col col-sm-5 approve-images text-center">
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                        data-target="#approveGallery">
                        Approve Image
                    </button>
                    <div class="modal fade" id="approveGallery">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content shadow">
                                <div class="modal-header">
                                    <h5 class="modal-title bld content-title">Approve Photos</h5>
                                    <button type="button" class="close" style="padding: .5rem 1rem;"
                                        data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true" style="font-size: 2.375rem;">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        {% if unapproved_photos.count %}
                                        <div id="approve-images-carousel" class="col-12 approve-images-carousel carousel slide m-auto" data-ride="carousel">
                                            <div class="carousel-inner">
                                                {% for photo in unapproved_photos %}
                                                {% if forloop.counter == 1 %}
                                                <div class="carousel-item active unapp-photo{{ photo.id }}">
                                                {% else %}
                                                <div class="carousel-item unapp-photo{{ photo.id }}">
                                                {% endif %}
                                                    <img src="{{ photo.picture.url }}" alt="carousel image"
                                                        class="w-100" style="height: 400px; width: 400px;">
                                                    <br><br>
                                                    <div class="row justify-content-center">
                                                        <div class="col-sm-5 text-center">
                                                            <button type="button" onclick="imageApproval('approve','{{photo.pk}}');" class="btn btn-success">Approve</button>
                                                        </div>
                                                        <!-- <div class="col col-md-2"></div> -->
                                                        <div class="col-sm-5 text-center">
                                                            <button type="button"
                                                                onclick="imageApproval('discard','{{photo.pk}}');"
                                                                class="btn btn-danger">Discard</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                                <a class="carousel-control-prev" href="#approve-images-carousel"
                                                    data-slide="prev">
                                                    <span class="carousel-control-prev-icon"
                                                        style="background-color: black; width:40px; height: 40px;"></span>
                                                </a>
                                                <a class="carousel-control-next" href="#approve-images-carousel"
                                                    data-slide="next">
                                                    <span class="carousel-control-next-icon"
                                                        style="background-color: black; width:40px; height: 40px;"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <p class="text-center mt-4 mb-0" style="font-size: 12px;">
                                                Note: You need to Refresh Page for changes to take effect in Gallery.
                                            </p>
                                        </div>
                                        {% else %}
                                        <div class="col-12">
                                            NO UNAPPROVED PHOTOS!!
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</section>

<!-- Include PhotoSwipe -->
{% include 'snippets/init_pswp.html' %}

<!-- Scroll To Top Button -->
<div id="scroll-to-top">
    <div class="hex scroll-top">
        <span><i class="fa fa-arrow-up"></i></span>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script>
    function isImage(url) {
         return /\.(jpg|jpeg|png|webp|avif|gif|svg)$/.test(url);
    }
    const recent_activity_data = {};
    "{% for act in recent_activities %}"
        recent_activity_data["{{ act.id }}"] = {title:"{{ act.title }}",description:"{{ act.description }}"}
    "{% endfor %}"
    document.querySelectorAll('.recent-activity-bar').forEach((element)=>{
        element.addEventListener('click',(e)=>{
            e.preventDefault();
            const data = recent_activity_data[element.id];
            if(isImage(element.href)){
                const image = document.querySelector('.recent-activity-modal-image');
                image.style.display = 'block';
                image.src = element.href;
                image.addEventListener('click',(e)=>{
                    window.open(element.href)
                })
            }
            else{
                document.querySelector('.recent-activity-modal-image').style.display = 'none';
            }
            const title = document.querySelector('.recent-activity-modal-title');
            const description = document.querySelector('.recent-activity-modal-desc')
            title.innerText = data.title;
            title.href = element.href;
            description.innerText = data.description;
            $("#recent-activity-modal").modal('toggle');
        })
    })
</script>
<!-- PHOTOSWIPE -->
<script>
    // build the json album images collection
    window.djangoAlbumImages = [
        {% for photo in photos %}
            {
                src: '{{ photo.picture.url }}',
                w:  {{ photo.picture.width }},
                h:  {{ photo.picture.height }},
                title: '{{ photo.caption }}',
            },
        {% endfor %}
    ];

    // Change album on filtering images
    $('#gallery-container .galleryFilter a').on("click", function () {
        let filter = $(this).data('filter');

        if (filter == "") {
            window.djangoAlbumImages = [
                {% for photo in photos %}
                    {
                        src: '{{ photo.picture.url }}',
                        w: {{ photo.picture.width }},
                        h: {{ photo.picture.height }},
                        title: '{{ photo.caption }}',
                    },
                {% endfor %}
            ];

            $('#gallery-container .gallery-item a').each(function (index, img) {
                if ($(img).closest('#load-more').length == 0) $(img).attr("href", 'javascript:pswpInit(' + index + ')');
            });
        }
        else {
            section = filter.slice(1);

            window.djangoAlbumImages = [];

            {% for photo in photos %}
            if ("{{ photo.tags }}".includes(section)) {
                window.djangoAlbumImages.push(
                    {
                        src: '{{ photo.picture.url }}',
                        w: {{ photo.picture.width }},
                        h: {{ photo.picture.height }},
                        title: '{{ photo.caption }}',
                    }
                );
            }
            {% endfor %}

            let selector = '#gallery-container ' + filter + ' a';
            $(selector).each(function (index, img) {
                if ($(img).closest('#load-more').length == 0) $(img).attr("href", 'javascript:pswpInit(' + index + ')');
            });
        }

    });
</script>

<!-- Custom JS -->
<script src="{% static 'js/bandhu.js' %}"></script>
<script src="{% static 'vendor/js/bootstrap-select.min.js' %}"></script>

<!-- Contact Scrollspy Problem -->
<script>contact_scrollspy()</script>

<!-- Change name of image input -->
<script>
    $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>
<!-- Instantiate Bootstrap Select -->
<script>$('#tags-select').selectpicker();</script>
<!-- Image Validation -->
<script>
    function imageValidation() {
        var imageInput = document.forms["imageUploadForm"]["image"];
        var image = imageInput.value;
        console.log(image)
        var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;

        if (!allowedExtensions.exec(image)) {
            alert('Invalid file type');
            imageInput.nextElementSibling.classList.remove("selected");
            imageInput.nextElementSibling.innerHTML = "Add Image";
            return false;
        }
    }
</script>

<!-- RECENT ACTIVITIES CAROUSEL -->
<script>
    var glide = new Glide('.glide',{
        type: 'carousel',
        focusAt: 'center',
        perView: 3,
        autoplay: 2000,
        gap: 30,
        breakpoints: {
            991: {
                perView: 2,
            },
            767: {
                perView: 1,
            },
        }
    })
    glide.mount()
</script>

<script>
    function imageApproval(status, image) {
        let selector = '.unapp-photo' + image;
        console.log($(selector).prev(), $(selector).prev().length, $(selector));
        if ($(selector).next().length != 0) $(selector).next().addClass('active')
        else $(selector).prev().addClass('active')
        $(selector).remove()

        $.ajax({
            type: "POST",
            url: "{% url 'approve_image' %}",
            data: {
                status: status,
                image: image,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (data) {
                if (data.response == "approved"){
                    $('#alert-toast-div > div').html(
                        `<div class="toast" id="alert_toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3500">
                            <div class="toast-body p-2 px-3">
                                <strong class="mr-auto">Image approved successfully!</strong>
                                <button type="button" class="ml-3 close" style="margin-top: -3px;" data-dismiss="toast" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>`
                    )

                    $('#alert_toast').toast('show');
                    $("#alert_toast").addClass("bg-success");
                }
                else if (data.response == "discarded") {
                    $('#alert-toast-div > div').html(
                        `<div class="toast" id="alert_toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3500">
                            <div class="toast-body p-2 px-3">
                                <strong class="mr-auto">Image discarded successfully!</strong>
                                <button type="button" class="ml-3 close" style="margin-top: -3px;" data-dismiss="toast" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>`
                    )

                    $('#alert_toast').toast('show');
                    $("#alert_toast").addClass("bg-danger");
                }
                // var data = JSON.parse(data1);
                // $('#galleryBox').empty();
                // for (let photo = 0; photo < data.length; photo++) {
                //     var k = data[photo].fields.approved;
                //     var ele = `<figure class="item cat-3 cat-4" style="width: 267px; height: 183.9px;">
                //         <img src='/media/${data[photo].fields.picture}' alt="Item 3" data-rel="photoSwipe">
                //         <a href="" class="stretched-link">
                //             <i class="fab fa-instagram"></i>
                //         </a>
                //     </figure>`
                //     if (!k) {
                //         ele += `
                //         <button type="button" onclick="imageApproval('approve','${data[photo].pk}');">Approve</button>
                //         <button type="button" onclick="imageApproval('discard','${data[photo].pk}');">Discard</button>
                //         `
                //     }
                //     $('#galleryBox').append(ele);
                // }
            }
        });
    }
</script>
{% endblock %}
