{% extends 'base.html' %}

{% block title %} Bandhu | User Profile {% endblock %}

{% block style %}
<style>
	/* .container {
		max-width: 960px;
	} */

	@media screen and (max-width: 600px) {
		.container{
			width: 85vw;
		}
	}

	.imgCircle{
		position:relative;
		width:150px !important;
		/* margin-left:38%; */
		margin: auto;
	}

	label {
		font-weight:600;
		letter-spacing:1.2px;
	}

</style>
<!-- Custom Style -->
<style>
    #top-section {
        background: url("{{ content.banner_image.url }}") 50% center no-repeat fixed;
    }
</style>
{% endblock %}

{% block navbar-links %}
<li class="nav-item">
	<a class="nav-link px-3" href="{% url 'home' %}">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link px-3" href="#contact">Contact</a>
</li>
{% endblock %}

{% block showcase-title-container %}
<div class="slider-txt-container" style="padding: 150px 0 300px 0;">
	<h2 class="bold-txt"> Profile </h2>
</div>
{% endblock %}

{% block content %}

<div class="container">
	<div class="row justify-content-center my-5">
		<div class="col-lg-8 border rounded shadow px-5 py-4 mb-5 bg-white"
			style="margin-top: -280px; z-index: 3;">

			<form method="POST" enctype="multipart/form-data" id="profileForm" class="needs-validation" novalidate>
				{% csrf_token %}
				{% if first_time %}
				<div class="mb-4 text-center ">
					<h2 class="font-weight-bolder">Complete Your Profile</h2>
				</div>
				{% else %}
				<div class="row justify-content-center mb-4 imgCircle">
					{% if profile.profile_pic %}
						<img src="{{ profile.profile_pic.url }}" alt="profile_pic" class="rounded-circle" style="height: 150px; width: 150px;">
					{% elif profile.gender == 'F' %}
						<img src="{% static 'img/woman.png' %}" alt="profile_pic" class="rounded-circle" style="height: 150px; width: 150px;">
					{% else %}
						<img src="{% static 'img/man.png' %}" alt="profile_pic" class="rounded-circle" style="height: 150px; width: 150px;">
					{% endif %}

					<a onclick="uploadImage();" style="bottom:0px;right:10px;text-decoration:none;color:inherit;cursor:pointer;position:absolute;" data-toggle="modal" data-target="#ProfileModalCenter" >
						<svg style="padding:5px 10px 5px 10px;border-radius:50%;background-color:white;box-sizing:border-box;height:32px;width:32px;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="camera-retro" class="svg-inline--fa fa-camera-retro fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="black" d="M48 32C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48H48zm0 32h106c3.3 0 6 2.7 6 6v20c0 3.3-2.7 6-6 6H38c-3.3 0-6-2.7-6-6V80c0-8.8 7.2-16 16-16zm426 96H38c-3.3 0-6-2.7-6-6v-36c0-3.3 2.7-6 6-6h138l30.2-45.3c1.1-1.7 3-2.7 5-2.7H464c8.8 0 16 7.2 16 16v74c0 3.3-2.7 6-6 6zM256 424c-66.2 0-120-53.8-120-120s53.8-120 120-120 120 53.8 120 120-53.8 120-120 120zm0-208c-48.5 0-88 39.5-88 88s39.5 88 88 88 88-39.5 88-88-39.5-88-88-88zm-48 104c-8.8 0-16-7.2-16-16 0-35.3 28.7-64 64-64 8.8 0 16 7.2 16 16s-7.2 16-16 16c-17.6 0-32 14.4-32 32 0 8.8-7.2 16-16 16z"></path></svg>
					</a>
					<input type="file" name="profile_pic" onchange="changePropic();" class="form-control-file" id="upimage" hidden value="{{ profile.profile_pic }}" />
				</div>
				{% endif %}
				<div class="row justify-content-center">
					<div class="col-md-6 mb-3">
						<label for="firstName">First name</label>
						<input name="first_name" type="text" class="form-control" id="firstName" value="{{ profile.first_name }}" required>
						<div class="invalid-feedback">
							Valid First Name is required.
						</div>
					</div>
					<div class="col-md-6 mb-3">
						<label for="lastName">Last name</label>
						<input name="last_name" type="text" class="form-control" id="lastName" value="{{ profile.last_name }}" required>
						<div class="invalid-feedback">
							Valid Last Name is required.
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4 mb-3">
						<label for="gender">Gender</label>
						<select name="gender" class="custom-select d-block w-100" id="gender" required>
							<option value="M">Male</option>
							<option value="F">Female</option>
							<option value="O">Other</option>
						</select>
					</div>
					<div class="col-md-4 mb-3">
						<label for="dob">Date of Birth</label>
						<!-- <input type="text" class="form-control" id="firstName" value="" required> -->
						<!-- <input name="dob" type="date" class="form-control" id="dob" required> -->
						<input name="dob" type="date" max="2009-12-31" id="dob" class="form-control" value="{{ profile.dob|date:'Y-m-d' }}" required>
						<div class="invalid-feedback">
							Please enter a valid date of birth.
						</div>
					</div>
					<div class="col-md-4 mb-3">
						<label for="profession">Profession</label>
						<input name="profession" type="text" class="form-control" id="profession" value="{{ profile.profession }}" required>
						<div class="invalid-feedback">
							Valid Contact No. is required.
						</div>
					</div>
				</div>

				<div class="mb-3">
					<label for="contactNo">Contact No.</label>
					<input name="contact_no" type="tel" pattern="[0-9]{10}" class="form-control" id="contactNo" value="{{ profile.contact_no }}" required>
					<div class="invalid-feedback">
						Valid Contact No. is required.
					</div>
				</div>
			
				<div class="mb-3">
					<label for="address">Address</label>
					<input name="street_address1" type="text" class="form-control" id="address" value="{{ profile.street_address1 }}" required>
					<div class="invalid-feedback">
						Please enter your shipping address.
					</div>
				</div>
			
				<div class="mb-3">
					<label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
					<input name="street_address2" type="text" class="form-control" id="address2" value="{{ profile.street_address2 }}">
				</div>
			
				<div class="row">
					<div class="col-md-5 mb-3">
					<label for="city">City</label>
					<input name="city" type="text" class="form-control" id="city" value="{{ profile.city }}" required>
					<div class="invalid-feedback">
						Please enter a valid city.
					</div>
					</div>
					<div class="col-md-4 mb-3">
					<label for="state">State</label>
					<input name="state" type="text" class="form-control" id="state" value="{{ profile.state }}" required>
					<div class="invalid-feedback">
						Please provide a valid state.
					</div>
					</div>
					<div class="col-md-3 mb-3">
					<label for="pinCode">PIN Code</label>
					<input name="pincode" type="number" class="form-control" id="pinCode" value="{{ profile.pincode }}" required>
					<div class="invalid-feedback">
						PIN code required.
					</div>
					</div>
				</div>
				{% if first_time %}
				<div class="mb-3">
					<label for="profile_pic">Profile Picture</label>
					<input name="profile_pic" type="file" class="form-control-file" id="profile_pic">
				</div>
				{% endif %}

				<hr class="mb-4">
				<div class="row justify-content-center mb-4">
					<div class="col-md-5">
						<button type="submit" class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
					</div>
				</div>
				
			</form>

		</div>
	</div>	

</div>


{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		(function () {
			'use strict'
			window.addEventListener('load', function () {
				// Fetch all the forms we want to apply custom Bootstrap validation styles to
				var forms = document.getElementsByClassName('needs-validation')

				// Loop over them and prevent submission
				Array.prototype.filter.call(forms, function (form) {
					form.addEventListener('submit', function (event) {
					if (form.checkValidity() === false) {
						event.preventDefault()
						event.stopPropagation()
					}
					form.classList.add('was-validated')
					}, false)
				})
			}, false)
		}())

		function uploadImage() {
			$('#upimage').click()
		}

		function changePropic() {
			$('#profileForm').submit()
		}
	</script>

	<!-- Script for Gender Field -->
	<script>
		if("{{ profile.gender }}" == "M") $('#gender option:eq(0)').prop('selected', true)
		else if("{{ profile.gender }}" == "F") $('#gender option:eq(1)').prop('selected', true)
		else $('#gender option:eq(2)').prop('selected', true)
	</script>

	<!-- Script for Date Picker -->
	{% comment %} <script type="text/javascript">
		$('#dob').datepicker({
			weekStart: 1,
			autoclose: true,
			todayHighlight: true,
		});
		// $('#dob').datepicker("setDate", new Date());
	</script> {% endcomment %}

	<script>
		if ("{{ first_time }}" === "True") contact_scrollspy()
	</script>
	
{% endblock %}
