{% extends 'accounts_base.html' %}

{% block title %}
    Bandhu | Password Reset Successfull
{% endblock %}


{% block content %}
    <div class="container form-display" style="margin-top: auto;">
        <div class="wrap-login100 p-l-50 p-r-50 p-t-32 p-b-23 text-center" 
            style="margin: auto; margin-top: 45px;">
            <img src="/static/img/icon/tick.gif" alt="" style="max-width: 100px;">
            <h2 class="mx-3 font-weight-bolder">Password Reset Successfull</h2>
            <p class="mx-3"> <a href="{% url 'login' %}">Login</a>  to continue.</p>
        </div>
    </div>
{% endblock %}