{% extends 'accounts_base.html' %}

{% block title %}
    Bandhu | Email Sent
{% endblock %}


{% block content %}
    <div class="container form-display" style="margin-top: 50px;">
        <div class="wrap-login100 p-l-50 p-r-50 p-t-32 p-b-23 text-center" 
            style="margin: auto; margin-top: 45px; border: 0 solid #e7e4e4; max-width: 500px; border-radius: 5px; background-color: #;">
            <img src="/static/img/icon/mail-sent-2.gif" alt="" style="max-width: 200px;">
            <!-- <i class="fa fa-envelope mt-3" style="font-size: 3em; color: green;"></i> -->
            <h1 class="mx-3 font-weight-bolder">Check your inbox</h1>
            <p class="mx-3">A link has been sent to your registered email id with instructions to reset your password. Please check your email.</p>
        </div>
    </div>
{% endblock %}