{% extends 'base.html' %}

{% load static %}

{% block title %} Anandakendra - {{ kendra.locality }} {% endblock %}

{% block style %}
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'css/bandhu.css' %}">
<link rel="stylesheet" href="{% static 'css/anandakendra.css' %}">

<!-- Semantic UI , Used only for Multiple Select in select Acharya Form -->
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/icon.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/semantic.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/mediaquery.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/semantic-notify.css' %}"> -->

{% endblock %}

{% block navbar-links %}
<li class="nav-item">
    <a class="nav-link px-3 px-lg-2" href="{% url 'home' %}">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link px-3 px-lg-2" href="#about">About</a>
</li>
<!-- <li class="nav-item">
    <a class="nav-link px-3 px-lg-2" href="#recent-activities">Recents</a>
</li> -->
<li class="nav-item">
    <a class="nav-link px-3 px-lg-2" href="#gallery">Gallery</a>
</li>
<li class="nav-item">
    <a class="nav-link px-3 px-lg-2" href="#contact">Contact</a>
</li>
{% endblock %}

{% block showcase-title-container %}
<div class="slider-txt-container" style="padding: 200px 0 200px 0;">
    <h2 class="bold-txt"> Anandakendra </h2>
    <p class="showcase-description mt-n3 mb-5">{{ kendra.locality }}</p>
</div>
{% endblock %}

{% block content %}
<!-- About Section -->
<section id="about" style="margin-top: -200px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-left px-0 py-0 py-lg-2 mx-auto" style="z-index: 10;">
                <div class="card m-2 shadow-sm d-none d-lg-block">
                    <div class="card-body p-4">
                        <h1 class="mb-3 title">{{ kendra.name|safe }} ({{ kendra.locality }})</h1>
                        <p class="m-0">
                            {{ kendra.address }}
                        </p>
                    </div>
                </div>
                <!--   DESCRIPTON  -->
                <div class="card m-2 shadow-sm">
                    <div class="card-body p-4">
                        <h2 class="content-title mb-2">Description</h1>
                            <p>{{ kendra.description|safe }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-left px-0 py-0 py-lg-2 mx-auto" style="z-index: 10;">
                <!--   PIC CARD  -->
                <div class="card m-2 shadow-sm mb-4">
                    <div class="card-body p-1">
                        <img src="{{ kendra.image.url }}" alt="DP" class="img-fluid h-100 w-100"
                            style="max-height: 300px;" />
                    </div>
                </div>


                {% if check_admin and user.is_authenticated %}
                <!-- Add Acharyas to this Kendra -->
                <div class="select-acharyas text-center my-2">
                    <button type="button" class="btn btn-primary w-75" data-toggle="modal"
                        data-target="#selectacharyamodal">
                        Select Acharyas
                    </button>

                </div>

                <!-- Add Students to this kendra -->
                <div class="add-students text-center my-2">
                    <button type="button" class="btn btn-primary w-75" data-toggle="modal"
                        data-target="#addStudentsModal">
                        Add Students
                    </button>

                </div>

                <!-- Add Activity Category -->
                <div class="add-activity-category text-center my-2">
                    <button type="button" class="btn btn-primary w-75" data-toggle="modal"
                        data-target="#addActivityCategory">
                        Add Category
                    </button>

                </div>

                <!-- Add Activity -->
                <div class="add-activity text-center my-2">
                    <button type="button" class="btn btn-primary w-75" data-toggle="modal" data-target="#addActivity">
                        Add Activity
                    </button>

                </div>

                <!-- Add Event -->
                <div class="add-activity text-center my-2">
                    <button type="button" class="btn btn-primary w-75" data-toggle="modal" data-target="#addEvent">
                        Add Event
                    </button>

                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>


<!-- Activities Section -->
<section id="activities" class="mb-5">
    <h3 class="section-title mt-5 pt-3 pt-sm-0">Activities</h3>
    <div class="container">
        {% for category in categories %}
        {% if category.activity_set.count %}
        <h3 class="title mt-5 mb-3">{{ category.name }}</h3>
        <div class="row">
            <div class="glide category{{ forloop.counter0 }}">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        {% for activity in category.activity_set.all %}
                        <li class="glide__slide">
                            <div class="card w-100 shadow-sm border border-primary border-rounded mx-auto my-2">
                                <img src="{% static 'img/pimg6.jpg' %}" class="card-img-top home-card-img" alt=""
                                    width="300px">
                                <div class="card-body pb-0">
                                    <h5 class="card-title font-weight-bold">{{ activity.name }}</h5>
                                    <p class="mb-3">
                                        {{ activity.description }}
                                        <br>
                                    </p>
                                    <a class="stretched-link" href="#" data-toggle="modal"
                                        data-target="#activity_modal{{ activity.id }}"></a>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="glide__arrows disable_arrows d-none d-md-block" data-glide-el="controls">
                    <button class="slider_arrow slider_arrow--prev glide__arrow glide__arrow--left" data-glide-dir="<">
                        <i class="fas fa-arrow-circle-left"></i>
                    </button>
                    <button class="slider_arrow slider_arrow--next glide__arrow glide__arrow--right" data-glide-dir=">">
                        <i class="fas fa-arrow-circle-right"></i>
                    </button>
                </div>
                <div class="glide__bullets" data-glide-el="controls[nav]">
                    {% for activity in category.activity_set.all %}
                    <button class="glide__bullet" data-glide-dir="={{ forloop.counter0 }}"></button>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</section>

<!-- ACTIVITIES MODALS -->
{% for category in categories %}
{% for activity in category.activity_set.all %}
<div class="modal fade" id="activity_modal{{ activity.id }}">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content shadow">
            <div class="modal-header">
                <h3 style="text-transform: uppercase;" class="modal-title bld content-title">{{ activity.name }}</h3 style="text-transform: uppercase;">
                <button type="button" class="close" style="padding: .5rem 1rem;" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true" style="font-size: 2.375rem;">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-lg-6 align-self-center">
                        <div id="mission-carousel" class="mission-carousel carousel slide m-auto" data-ride="carousel">
                            <ul class="carousel-indicators">
                                <li data-target="#mission-carousel" data-slide-to="0" class=""></li>
                                <li data-target="#mission-carousel" data-slide-to="1" class=""></li>
                                <li data-target="#mission-carousel" data-slide-to="2" class="active"></li>
                            </ul>
                            <div class="carousel-inner">
                                <div class="carousel-item">
                                    <img src="/static/img/pimg6.jpg" alt="carousel image">
                                </div>
                                <div class="carousel-item">
                                    <img src="/static/img/pimg2.jpg" alt="carousel image">
                                </div>
                                <div class="carousel-item active">
                                    <img src="/static/img/pimg3.jpg" alt="carousel image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3 class="font-weight-bolder">Description</h3>
                        {{ activity.description }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endfor %}

<!-- EVENTS SECTION -->
<section id="events">
    <div class="bg-grey" style="padding: 50px 0;">
        <h3 class="section-title">Events</h3>
        <div class="container">
            {% if events.count %}
            <div class="row">
                <div class="glide events">
                    <div class="glide__track" data-glide-el="track">
                        <ul class="glide__slides">
                            {% for event in events %}
                            <li class="glide__slide">
                                <div class="card w-100 shadow-sm border border-primary border-rounded mx-auto my-2">
                                    <img src="{{ event.image.url }}" class="card-img-top home-card-img" alt=""
                                        width="300px">
                                    <div class="card-body pb-0">
                                        <h5 class="card-title font-weight-bold">{{ event.name }}</h5>
                                        <p class="mb-3">
                                            {{ event.date }}<br>
                                        </p>
                                        <a href="#" class="stretched-link"></a>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="glide__arrows disable_arrows d-none d-md-block" data-glide-el="controls">
                        <button class="slider_arrow slider_arrow--prev glide__arrow glide__arrow--left"
                            data-glide-dir="<">
                            <i class="fas fa-arrow-circle-left"></i>
                        </button>
                        <button class="slider_arrow slider_arrow--next glide__arrow glide__arrow--right"
                            data-glide-dir=">">
                            <i class="fas fa-arrow-circle-right"></i>
                        </button>
                    </div>
                    <div class="glide__bullets" data-glide-el="controls[nav]">
                        {% for event in events %}
                        <button class="glide__bullet" data-glide-dir="={{ forloop.counter0 }}"></button>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% else %}
            <p class="text-center lead pt-2 mb-n1"><em>Nothing to show here!</em></p>
            {% endif %}
        </div>
    </div>
</section>

<!-- EVENTS MODALS -->
{% for event in events %}
<div class="modal fade" id="event_modal{{ event.id }}">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content shadow">
            <div class="modal-header">
                <h3 style="text-transform: uppercase;" class="modal-title bld content-title">{{ event.name }}</h3 style="text-transform: uppercase;">
                <button type="button" class="close" style="padding: .5rem 1rem;" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true" style="font-size: 2.375rem;">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-lg-6 align-self-center">
                        <div id="mission-carousel" class="mission-carousel carousel slide m-auto" data-ride="carousel">
                            <ul class="carousel-indicators">
                                <li data-target="#mission-carousel" data-slide-to="0" class=""></li>
                                <li data-target="#mission-carousel" data-slide-to="1" class=""></li>
                                <li data-target="#mission-carousel" data-slide-to="2" class="active"></li>
                            </ul>
                            <div class="carousel-inner">
                                <div class="carousel-item">
                                    <img src="/static/img/pimg6.jpg" alt="carousel image">
                                </div>
                                <div class="carousel-item">
                                    <img src="/static/img/pimg2.jpg" alt="carousel image">
                                </div>
                                <div class="carousel-item active">
                                    <img src="/static/img/pimg3.jpg" alt="carousel image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3 class="font-weight-bolder">Description</h3>
                        {{ event.description }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% comment %}
<!-- Activities Section -->
<section id="recent-activities">
    <div class="bg-grey" style="padding: 50px 0;">
        <div class="container">
            <div class="row">
                <div class="section-content w-100">
                    <div class="content-box from-bottom delay-200">
                        <h3 class="section-title">Activities</h3>
                        <div class="glide">
                            <div class="glide__track" data-glide-el="track">
                                <ul class="glide__slides">
                                    {% for activity in activities %}
                                    <li class="glide__slide">
                                        <!-- To access Images use activity.1.picture -->
                                        <div
                                            class="card w-100 shadow-sm border border-primary border-rounded mx-auto my-2">
                                            <img src="/media/{{activity.0.image}}" class="card-img-top home-card-img"
                                                alt="" width="300px">
                                            <div class="card-body pb-0">
                                                <h5 class="card-title font-weight-bold">{{activity.0.name}}</h5>
                                                <p class="m-2 font-italic  font-open-sans mb-3">
                                                    {{activity.0.description}}
                                                    <br>
                                                </p>
                                                <a href="javascript:pswpInit(0);" class="stretched-link"></a>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="glide__arrows disable_arrows d-none d-md-block" data-glide-el="controls">
                                <button class="slider_arrow slider_arrow--prev glide__arrow glide__arrow--left"
                                    data-glide-dir="<">
                                    <i class="fas fa-arrow-circle-left"></i>
                                </button>
                                <button class="slider_arrow slider_arrow--next glide__arrow glide__arrow--right"
                                    data-glide-dir=">">
                                    <i class="fas fa-arrow-circle-right"></i>
                                </button>
                            </div>
                            <div class="glide__bullets" data-glide-el="controls[nav]">
                                {% for activity in activities %}
                                <button class="glide__bullet" data-glide-dir="={{forloop.counter}}"></button>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Recent Activities Section Ends -->
{% endcomment %}

<!-- Volunteer Section -->

<section id="volunteer">
    <div class="parallax-style text-white text-center">
        <div class="parallax-overlay dark-overlay section-padding" style="padding: 80px 0 70px;">
            <div class="container">
                <div class="section-head" style="margin-bottom:60px;">
                    <h3 class="section-title parallax-title">
                        Become a Volunteer
                    </h3>
                </div>

                <div class="row justify-content-center">
                    <p class="parallax-description w-100 px-3"
                        style="font-size:1.7em; line-height:35px; margin-bottom: 30px;">
                        Do you like to work for a social cause?. Yes. Here, you are
                        welcome to our team and you can work as a volunteer.
                    </p>
                    <button type="button" class="btn btn-outline-light py-2 px-4 custom-btn angle-effect">
                        <a href="{% url 'signup' %}" class="d-block text-decoration-none text-white">Join Now</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Volunteer Section End-->

<section id="gallery">
    <div class="bg-grey" style="padding: 80px 0 60px;">
        <div class="container">
            <div class="section-head">
                <h2 class="section-title">
                    Gallery
                </h2>
                <p class="section-description">
                    TAKE A LOOK AT OUR GALLERY TO SEE HOW WE ENDANGER THE CHILD. YOU MAY ALSO SEE OUR WORLDWIDE ACTIVITY
                    AROUND THE GLOBE HOW WE WORKING FOR CHILDREN.
                </p>
            </div>

            {% if photos.count %}
            <div id="gallery-container" class="gallery-container">
                <div class="galleryFilter">
                    <a href="#" data-filter="" class="current">All</a>
                    {% for category in categories %}
                    {% if category.activity_set.count %}
                    <a href="#" data-filter=".{{ category.name }}">{{ category.name }}</a>
                    {% endif %}
                    {% endfor %}
                </div>

                <div class="gallery-item element-from-bottom clearfix">
                    {% for photo in photos %}
                    <figure class="item {{ photo.activity.category.name }} photo-{{ photo.id }}">
                        <img src='{{ photo.picture.url }}' data-rel="photoSwipe">
                        <a href="javascript:pswpInit({{ forloop.counter0 }})" class="stretched-link">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </figure>
                    {% endfor %}
                    <figure id="load-more" class="item {% for category in categories %} {{ category.name }} {% endfor %}">
                        <a href="javascript:void(0);" class="stretched-link">
                            <p class="text-center">Show More</p>
                        </a>
                    </figure>
                </div>
            </div>
            {% else %}
            <p class="text-center lead mt-n2 mb-n1"><em>Nothing to show here!</em></p>
            {% endif %}

            <div id="gallery-container" class="gallery-container">
                <div class="add-activity">
                    {% if user.is_authenticated %}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addToGallery">
                        Upload Images
                    </button>
                    <div class="modal fade bd-example-modal-lg" tabindex="-1" id="addToGallery" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title bld" id="exampleModalLongTitle">Upload Images</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" enctype="multipart/form-data"
                                        action="{% url 'anandakendra:AnandakendraAddToGallery' %}">{% csrf_token %}
                                        <input type="text" hidden name="slug" value={{kendra.slug}}>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" multiple class="custom-file-input" name="gallery_images" id="inputGroupFile04" 
                                                    aria-describedby="inputGroupFileAddon04">
                                                <label class="custom-file-label" for="inputGroupFile04">Add Images</label>
                                            </div>
                                        </div><br>
                                        <button class="btn btn-primary">Upload</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <!-- <div class="gallery-item element-from-bottom clearfix" id="galleryBox">
                    {% for photo in photos %}
                    <figure class="item cat-3 cat-4">
                        <img src='/media/{{photo.picture}}' alt="Item 3" data-rel="photoSwipe">
                        <a href="" class="stretched-link">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </figure>
                    {% if not photo.approved %}
                    <button type="button" onclick="imageApproval('approve','{{photo.pk}}');">Approve</button>
                    <button type="button" onclick="imageApproval('discard','{{photo.pk}}');">Discard</button>
                    {% endif %}
                    {% endfor %}
                </div> -->
            </div>
        </div>
    </div>
</section>

<!-- MODALS  -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" id="selectacharyamodal" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title bld" id="exampleModalLongTitle">Select Acharyas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'anandakendra:AddAcharya' %}">{% csrf_token %}
                    <input type="text" hidden name="slug" value={{kendra.slug}}>
                    <label class="left-label bld" for="">Acharya 1</label>
                    <select class="form-control" name="acharyas" id="">
                        <option value="">Select Acharya 1</option>
                        {% for user in users %}
                        <option value={{user.user.email}} data-value={{user.user.email}}>{{user.first_name}}</option>
                        {{user.last_name}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label class="left-label bld" for="">Acharya 2</label>
                    <select class="form-control" name="acharyas" id="">
                        <option value="">Select Acharya 1</option>
                        {% for user in users %}
                        <option value={{user.user.email}} data-value={{user.user.email}}>{{user.first_name}}</option>
                        {{user.last_name}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <button class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" tabindex="-1" id="addStudentsModal" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title bld" id="exampleModalLongTitle">Add Students</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'anandakendra:EnrollStudent' %}">{% csrf_token %}
                    <input type="text" hidden name="slug" value={{kendra.slug}}>
                    <div class="row justify-content">
                        <div class="col col-md-6">
                            <label class="left-label bld" for="name">Name</label>
                            <input type="text" class="form-control" name="name" placeholder="Student name"
                                required="required"><br>
                        </div>
                        <div class="col col-md-6">
                            <label class="left-label bld" for="guardian_name">Guardian Name</label>
                            <input type="text" class="form-control" name="guardian_name" placeholder="Guardian name"
                                required="required"><br>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col col-md-6">
                            <label class="left-label bld" for="gender">Gender</label>
                            <select class="form-control" name="gender">
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                                <option value="O">Other</option>
                            </select><br>
                        </div>
                        <div class="col col-md-6">
                            <label class="left-label bld" for="school_class">School Class</label>
                            <select class="form-control" name="school_class">
                                <option value="I">Class I</option>
                                <option value="II">Class II</option>
                                <option value="III">Class III</option>
                                <option value="IV">Class IV</option>
                                <option value="V">Class V</option>
                                <option value="VI">Class VI</option>
                                <option value="VII">Class VII</option>
                                <option value="VIII">Class VIII</option>
                                <option value="IX">Class IX</option>
                                <option value="X">Class X</option>
                                <option value="XI">Class XI</option>
                                <option value="XII">Class XII</option>
                            </select><br>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col col-md-6">
                            <label class="left-label bld" for="address">Address</label>
                            <input type="text" class="form-control" name="address" placeholder="Student Address"
                                required="required"><br>
                        </div>
                        <div class="col col-md-6">
                            <label class="left-label bld" for="contact_no">Contact Number</label>
                            <input type="text" class="form-control" name="contact_no"
                                placeholder="Guardian Contact number" required="required"><br>
                        </div>
                    </div>
                    <button class="btn btn-primary">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" tabindex="-1" id="addActivityCategory" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title bld" id="exampleModalLongTitle">Add Activity Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'anandakendra:AnandakendraAddActivityCategory' %}">
                    {% csrf_token %}
                    <input type="text" hidden name="slug" value={{kendra.slug}}>
                    <input type="text" class="form-control" name="name" placeholder="Activity name"
                        required="required"><br>
                    <button class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" tabindex="-1" id="addActivity" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title bld" id="exampleModalLongTitle">Add Activity</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data"
                    action="{% url 'anandakendra:AnandakendraCreateActivity' %}">{% csrf_token %}
                    <input type="text" hidden name="slug" value={{kendra.slug}}>
                    <div class="row">
                        <div class="col">
                            <label class="left-label bld" for="activity_name">Activity Name</label>
                            <input type="text" class="form-control" name="activity_name" placeholder="Activity name"
                                required="required"><br>
                        </div>
                        <div class="col">
                            <label class="left-label bld" for="category">Category</label>
                            <select class="form-control" name="category">
                                {% for category in categories %}
                                <option value="{{category.pk}}">{{category.name}}</option>
                                {% endfor %}
                            </select><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="left-label bld" for="activity_time">Activity Time</label>
                            <input type="text" name="activity_time" class="form-control" placeholder="Time of Activity"
                                required="required"><br>
                        </div>
                        <div class="col">
                            <label class="left-label bld" for="activity_images">Activity Photos</label>
                            <!-- <input type="file" class="form-control" multiple name="activity_images"> -->
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" multiple class="custom-file-input" name="activity_images"
                                        id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                                    <label class="left-label custom-file-label" for="inputGroupFile04">Add
                                        Photos</label>
                                </div>
                            </div>

                        </div>
                    </div>
                    <label class="left-label bld" for="description">Description</label>
                    <textarea name="description" cols="80" class="form-control" rows="4"></textarea><br>
                    <button class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" tabindex="-1" id="addEvent" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title bld" id="exampleModalLongTitle">Add Event</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data"
                    action="{% url 'anandakendra:CreateEventAnandakendra' %}">{% csrf_token %}
                    <input type="text" hidden name="slug" value={{kendra.slug}}>
                    <div class="row">
                        <div class="col">
                            <label class="left-label bld" for="">Event Name</label>
                            <input type="text" class="form-control" name="event_name" placeholder="Event name"><br>
                        </div>
                        <div class="col">
                            <label class="left-label bld" for="">Event Image</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="event_image"
                                        id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                                    <label class="custom-file-label" for="inputGroupFile04">Image</label>
                                </div>
                            </div><br>
                        </div>
                    </div>

                    <label class="left-label bld" for="">Event Date</label>
                    <input type="date" name="event_date" class="form-control"><br>
                    <label class="left-label bld" for="">Description</label>
                    <textarea name="description" cols="80" class="form-control" rows="4"
                        placeholder="Description"></textarea><br>
                    <button class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Include PhotoSwipe -->
{% include 'snippets/init_pswp.html' %}

<!-- Scroll To Top Button -->
<div id="scroll-to-top">
    <div class="hex scroll-top">
        <span><i class="fa fa-arrow-up"></i></span>
    </div>
</div>

{% endblock %}


{% block scripts %}
<!-- PHOTOSWIPE -->
<script>
    // build the json album images collection 
    window.djangoAlbumImages = [
        {% for photo in photos %}
            {
                src: '{{ photo.picture.url }}',
                w:  {{ photo.picture.width }},
                h:  {{ photo.picture.height }}
            },
        {% endfor %}
    ];

    // Change album on filtering images
    $('#gallery-container .galleryFilter a').on("click", function () {
        let filter = $(this).data('filter');

        if (filter == "") {
            window.djangoAlbumImages = [
                {% for photo in photos %}
                    {
                        src: '{{ photo.picture.url }}',
                        w: {{ photo.picture.width }},
                        h: {{ photo.picture.height }}
                    },
                {% endfor %}
            ];

            $('#gallery-container .gallery-item a').each(function (index, img) {
                if ($(img).closest('#load-more').length == 0) $(img).attr("href", 'javascript:pswpInit(' + index + ')');
            });
        }
        else {
            category = filter.slice(1);

            window.djangoAlbumImages = [];

            {% for photo in photos %}
            if ("{{ photo.activity.category.name }}" == category) {
                window.djangoAlbumImages.push(
                    {
                        src: '{{ photo.picture.url }}',
                        w: {{ photo.picture.width }},
                        h: {{ photo.picture.height }}
                    }
                );
            }
            {% endfor %}

            let selector = '#gallery-container ' + filter + ' a';
            $(selector).each(function (index, img) {
                if ($(img).closest('#load-more').length == 0) $(img).attr("href", 'javascript:pswpInit(' + index + ')');
            });
        }

    });
</script>
<!-- Contact Scrollspy Problem -->
<script>contact_scrollspy()</script>

<!-- Semantic UI -->

<!-- <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"> </script>
<script type="text/javascript" src="{% static 'js/semantic-notify.js' %}"> </script>

<script type="text/javascript" src="{% static 'js/semantic.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dropdown.js' %}"></script> -->

<script>
    $(document).ready(function () {
        $('.ui.dropdown').dropdown();
    });

    function validateWinners(counter) {
        alert(counter)
        var winner = document.getElementById(`winner${counter}`).value;
        var runner_up1 = document.getElementById(`runnerUp1${counter}`).value;
        var runner_up2 = document.getElementById(`runnerUp2${counter}`).value;

        if (winner == runner_up1 || winner == runner_up2 || runner_up1 == runner_up2) {
            document.getElementsByClassName('errorMessageWinners')[0].style.display = "grid";
            return;
        }
        $('chooseWinnersForm' + counter).submit();
    }

    function imageApproval(status, image) {
        var kendra = "{{kendra.slug}}";
        $.ajax({
            type: "POST",
            url: "/anandakendra/admin_approval/",
            data: {
                status: status,
                image: image,
                kendra: kendra,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (data1) {
                var data = JSON.parse(data1);
                $('#galleryBox').empty();
                for (let photo = 0; photo < data.length; photo++) {
                    var k = data[photo].fields.approved;
                    var ele = `<figure class="item cat-3 cat-4" style="width: 267px; height: 183.9px;">
                        <img src='/media/${data[photo].fields.picture}' alt="Item 3" data-rel="photoSwipe">
                        <a href="" class="stretched-link">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </figure>`
                    if (!k) {
                        ele += `
                        <button type="button" onclick="imageApproval('approve','${data[photo].pk}');">Approve</button>
                        <button type="button" onclick="imageApproval('discard','${data[photo].pk}');">Discard</button>
                        `
                    }
                    $('#galleryBox').append(ele);
                }
            }
        });
    }

</script>

<script>
    // ACTIVITIES CAROUSEL
    {% for category in categories %}
    {% if category.activity_set.count %}
    var glide = new Glide('.category{{forloop.counter0}}', {
        type: 'carousel',
        focusAt: 'center',
        perView: 3,
        autoplay: 2000,
        gap: 30,
        breakpoints: {
            991: {
                perView: 2,
            },
            767: {
                perView: 1,
            }
        }
    })
    glide.mount()
    {% endif %}
    {% endfor %}

    // EVENTS CAROUSEL
    var events_glide = new Glide('.events', {
        type: 'slide',
        focusAt: 'center',
        perView: 3,
        autoplay: 2000,
        gap: 30,
        breakpoints: {
            991: {
                perView: 2,
            },
            767: {
                perView: 1,
            }
        }
    })
    events_glide.mount()
</script>
<!-- Upload Detail in forms -->
<script type="text/javascript">

    $('.custom-file input').change(function (e) {
        var files = [];
        for (var i = 0; i < $(this)[0].files.length; i++) {
            files.push($(this)[0].files[i].name);
        }
        if (files.length > 1) {
            $(this).next('.custom-file-label').html(files.length + ' files selected');
        }
        else {
            $(this).next('.custom-file-label').html('1 file selected');
        }
    });

</script>
{% endblock %}`