/* GLOBAL */

.section-title {
    color: #0d0d0d;
    font-size: 2.25em;
    font-weight: 900;
    line-height: 54px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 45px;
    position: relative;
    -webkit-text-stroke: 0.3px;
}
.section-title:after {
    content: "";
    background-color: #ffb307;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 70px;
}


/* SHOWCASE STARTS */

.slider-txt-container .bold-txt {
    font-size: 3.875em;
    margin-bottom: 60px;
}

@media screen and (max-width: 575px) {
    .slider-txt-container .bold-txt {
        font-size: 3.875em;
    }
    .slider-txt-container .parallax-description {
        font-size: 1.375em;
        line-height: 35px;
    }
}


/* INITIATIVES CARDS START */

#initiatives .initiatives .card {
    z-index: 5;
}

#initiatives .card {
    background-color: #f2f2f6;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 286px !important;
    /* min-width: 250px !important;
    max-width: 250px !important; */
    padding: 0;
    margin: 0px 15px 15px;
}

#initiatives .card img{
    height: 230px;
    object-fit: cover;
    min-height: 230px;
}

/* @media screen and (max-width: 1199px){
    #initiatives .card img{
        height: 210px;
        object-fit: cover;
        min-height: 210px;
    }
} */

#initiatives .card-body h5{
    text-align: center;
    box-sizing: border-box;
}

#initiatives .card:hover img{
    transform: translateY(-120px);
    transition: 0.5s;
}
#initiatives .content-description{
    display:none;
}
#initiatives .card:hover h5 {
    margin-top: -120px;
}

#initiatives .card:hover .content-description {
    display: grid;
}

#initiatives .card:hover{
    color:black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.001);
    padding-bottom: 130px;
    transition: 0.5s;
}

/* Initiatives Card Bootstrap Tweeks */
@media (min-width: 1100px){
    .col-lg-20 {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
        font-size: 15px;
        line-height: 17px;
    }
}


/* ABOUT AND MISSION SECTION */

#about::before, #mission::before {
    display: block;
    content: "";
    margin-top: -30px;
    height: 30px;
    visibility: hidden;
}

#mission .content-box {
    text-align: justify;
}
#mission .content-title {
    color: #0d0d0d;
    font-size: 1.375em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
    margin-top: 0;
}

#mission .carousel img {
    width: 100%;
}

@media screen and (max-width: 767px) {
    #mission .carousel {
        width: 75%;
    }
    #mission .content-title {
        font-size: 1.875rem;
    }
}
@media screen and (max-width: 400px) {
    #mission .carousel {
        width: 100%;
    }
}



/* RECENT ACTIVITIES START */

.glide-carousel-custom::before {
    display: block;
    content: "";
    margin-top: -30px;
    height: 30px;
    visibility: hidden;
}

.glide-carousel-custom .card {
    border: none !important;
}


.glide-carousel-custom .glide__slides{
    background-color: #ecf0f1;
}

.glide-carousel-custom .glide__slide .card{
    max-width: 24rem;
    max-height: 40rem;
}

@media screen and (max-width: 760px) {
    .glide-carousel-custom .glide__slide{
        padding: 0 15px;
    }
    .glide-carousel-custom .glide__slide .card{
        max-width: 20rem;
        max-height: 40rem;
    }
}

.glide__arrow {
    padding: 0;
    border: none;
}
.glide__arrow i{
    font-size: 36px;
    color: #ecf0f1;
}
.glide__arrow:hover i{
    color: #ffb307;
    transform: scale(1.1);
    transition: ease-in 100ms;
}
.glide__arrow--left {
    padding: 150px 10px 150px 50px;
    box-shadow: none;
    left: 0px;
}
.glide__arrow--right {
    padding: 150px 50px 150px 10px;
    box-shadow: none;
    right: 0px;
}

.glide__bullets {
    bottom: 0rem;
}
.glide__bullet--active {
    background-color: #ffb307;
}


/* VOLUNTEER SECTION START */

#volunteer {
    background: url(../img/clients-bg.jpg) 50% 30% no-repeat fixed;
    margin: 0 auto;
    padding: 0;
}
#volunteer .parallax-overlay {
    background-color: rgba(0, 0, 0, 0.75);
}
#volunteer .section-title {
    font-size: 1.625em;
    font-weight: 800;
    color: #fff;
    /* text-transform: uppercase; */
    position: relative;
    margin-bottom: 45px;
}
#volunteer .custom-btn {
    position: relative;
    font-weight: 700;
    border: 2px solid #ffffff;
    border-radius: 7px;
    /* padding: 8px 20px; */
    margin: 20px 10px 10px;
    text-transform: uppercase;
    z-index: 1;
}

/* Button hover Effect */
#volunteer .custom-btn:hover {
    border-color: #ffb307;
    background-color: transparent;
    color: #fff;
}
.custom-btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: #ffb307;
    opacity: 1;
}
.angle-effect.custom-btn:after {
    width: 0;
    left: 50%;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
.custom-btn:hover:after {
    height: 100%;
    left: 0%;
    opacity: 1;
}
.angle-effect.custom-btn:hover:after {
    width: 100%;
    left: 0%;
}


/* GALLERY START */

#gallery .section-title {
    font-size: 2.4375em;
}

#gallery .section-description {
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 25px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 0.1px;
}

@media screen and (min-width: 992px) {

    #gallery .section-title {
        text-align: right;
        width: 320px;
        float: left;
        margin: 0;
        padding-right: 35px;
    }
    
    #gallery .section-title:after {
        content: "";
        position: absolute;
        width: 20px;
        height: 40px;
        background-color: #ffb307;
        top: 6px;
        right: 0px;
        left: unset;
        margin-left: 0px;
    }
    
    #gallery .section-description {
        margin-left: 340px;
        text-align: left;
    }
}

#gallery .section-head {
    margin-bottom: 100px;
}

@media screen and (max-width: 991px) {
    #gallery .section-head {
        margin-bottom: 70px;
    }
}

#gallery .galleryFilter {
    clear: both;
    margin: auto;
    padding-bottom: 60px;
    text-align: center;
    width: auto;
}

.gallery-item figure {
    background: #ffffff;
    float: left;
    margin: 0 2px 10px;
    overflow: hidden;
    height: 330px;
    width: 30%;
}

.gallery-item figure img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.gallery-item a {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.gallery-item figure img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    border: transparent;
    -webkit-transition: -webkit-transform .3s ease;
    -moz-transition: -moz-transform .3s ease;
    -ms-transition: -ms-transform .3s ease;
    -o-transition: -o-transform .3s ease;
    transition: transform .3s ease;
}

.gallery-item figure:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.gallery-item .item-w2 {
    background: #ED9393;
    width: 60%;
}

.gallery-item .item-h2 {
    background: #7CB744;
    height: 680px;
}

.gallery-item .item-h3 {
    background: #38B5E5;
}

.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
}

.galleryFilter {
    clear: both;
    margin: auto;
    padding-bottom: 60px;
    text-align: center;
    width: auto;
}

.galleryFilter a {
    border: 2px solid transparent;
    color: #0d0d0d;
    display: inline-block;
    font-weight: 700;
    font-size: 0.875em;
    text-transform: uppercase;
    margin: 0 5px;
    padding: 10px;
    cursor: pointer;
    border-radius: 7px;
}

.galleryFilter a:focus, .galleryFilter a:hover, .galleryFilter .current {
    color: #ffb307;
    text-decoration: none;
}

.galleryFilter .current {
    border: 2px solid #ffb307;
}

.gallery-item figure {
    position: relative;
    z-index: 0;
}

.galleryFilter a, .gallery-item figure:after {
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.gallery-item figure:after {
    background-color: rgba(0,0,0,.5);
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.gallery-item figure:hover:after {
    opacity: 1;
}

#load-more:after {
    opacity: 0.85;
}
#load-more:hover:after {
    opacity: 1;
}


#gallery figure .stretched-link:after {
    z-index: 3;
}

#gallery figure .stretched-link i{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    color: white;
    z-index: 3;
}
#gallery figure .stretched-link p{
    /* display: none; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    font-weight: 700;
    color: white;
    z-index: 3;
}
#gallery figure:hover .stretched-link i{
    display: block;
}





/* CUSTOM CONTAINER WIDTH */

@media screen and (min-width: 880px) and (max-width: 991px) {
    #about .container, .glide-carousel-custom .container {
        max-width: 840px;
        /* margin: 0 32px; */
    }
}

.modal{
    z-index:1040 !important;
}

.modal-backdrop{
    /* display:none !important; */
    z-index: 1035 !important;
}

.recent-activities{
    position: fixed;
    z-index:250;
    top:79px;
    right:60px;
    /* width:300px !important; */
}

.recent-activities-btn {
    width:350px !important;
    font-weight: bolder;
    outline:none;
    background-color: #ff9800  !important;
    color:white;
    border-color: #ff9800  !important;
    letter-spacing: 1.2px;
    box-shadow: none !important;
}

.recent-activities-btn:not(.collapsed) {
    border-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.recent-activities-btn:hover {
    /* width:350px !important; */
    outline:none;
    background-color: #d37e00 !important;
    color:white;
    border-color: #d37e00;
}

.recent-activities-collapse{
    width: 350px !important;
    max-height: 300px;
    overflow-y: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.recent-activity-modal-content{
    padding-bottom: 5%;
}

.recent-activity-modal-header{
    font-size: 1rem;
    padding: 5px;
    width: 100%;
    border-bottom: 1px solid black;
    background-color: #ff9800;
    border-radius:4px  4px 0 0;
    color: white;
}

.recent-activity-modal-title{
    margin: auto;
    font-size: 1.5rem;
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.recent-activity-modal-desc{
    margin-bottom: 10px;
    width: 60%;
    margin: auto;
    text-align: center;
}

.recent-activity-modal-image{
    width: 90%;
    margin: auto;
    border-radius: 4px;
    margin-top: 5%;
    cursor: pointer;
}

@media screen and (max-width: 575px){
    .recent-activities {
        right: unset;
        left: 50%;
        transform: translateX(-50%);
    }
    .recent-activities-btn {
        width: 85vw !important;
    }
    .recent-activities-collapse {
        width: 85vw !important;
    }
    .recent-activity-modal-desc {
        width: 90%;
    }
}

@media screen and (max-width: 400px){
    .recent-activities-btn {
        width: 92vw !important;
    }
    .recent-activities-collapse {
        width: 92vw !important;
    }
    .recent-activity-modal-desc {
        width: 90%;
    }
}

.recent-activity-card {
    padding: 10px !important;
    background-color: #f2f1f1;
    border-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.recent-activity-ol {
    list-style: none;
    padding: 0;
}

.recent-activity-li {
    margin-top:5px;
    color: black;
    padding: 10px !important;
    padding-right: 40px !important;
	font-size: 18px !important;
	border: 1px solid #ece5e5 !important;
	border-radius: 5px !important;
	background-color: white !important;
	box-shadow: 0px 1px 0px 0px #d8d6d6 !important;
}

.recent-activity-li:hover {
    box-shadow: 0px 2px 2px 0px #d8d6d6 !important;
}

.ribbon-new {
    background: #ff9800;
    height: 30px;
    width: 30px;
    position: absolute;
    text-align: center;
    font: 400 13px sans-serif;
    color: #fff;
    line-height: 27px;
    border: 0;
    right: 16px;
    margin-top: 5px;
	animation: colorRotate 2s ease infinite;
}

/* @keyframes colorRotate {
    from {
      color: gray;
    }
    10% {
      color: #0099ff;
    }
    50% {
      color: white;
    }
    75% {
      color: #ff3399;
    }
    100% {
      color: black;
    }
  } */

.ribbon-new:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    height: 0;
    width: 30px;
    border: solid 15px #ff9800;
    border-bottom-color: transparent;
}

.ribbon-new:hover {
    background: #ff9800;
}

.ribbon-new:hover:after {
    border-color: #ff9800;
    border-bottom-color: transparent;
}

/* Custom label */

.left-label {
    float: left !important;
}

.bld {
    font-weight: bold !important;
}

::placeholder {
    opacity: 0.65 !important;
}




#sanskar::before, #swaraj::before, #swabalamban::before {
    display: block;
    content: "";
    margin-top: -80px;
    height: 80px;
    visibility: hidden;
}

.recent-activities-collapse::-webkit-scrollbar {
    width: 7px!important;
    height: 6px!important;
}

.recent-activities-collapse::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.3);
}

.recent-activities-collapse::-webkit-scrollbar-track {
    background-color: #f2f1f1;
    border-bottom-right-radius: 5px !important;
} 

.recent-activity-card {
    border-bottom-right-radius: 0px !important;
}

.current-updates-marquee a:not(:last-child)::after{
  content: ' |';
  color: black;
}


body::-webkit-scrollbar {
    width: 12px !important;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.3) !important;
}

body::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0);
} 

  

/* Youtube Videos */

.youtube_glide iframe {
    width: 560px;
    height: 315px;
}


.youtube_glide .glide__slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 360px) {
    .youtube_glide iframe {
        width: 240px;
        height: 135px;
    }
}
@media (max-width: 576px) {
    .youtube_glide iframe {
        width: 360px;
        height: 203px;
    }
}


@media (max-width: 768px) {
    .youtube_glide iframe {
        width: 360px;
        height: 204px;
    }
}
@media (max-width: 992px) {
    .youtube_glide iframe {
        width: 480px;
        height: 270px;
    }
}