<!doctype html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Bandhu</title>
		<link rel="icon" href='{% static "img/bandhulogo.gif" %}'>
		<meta name="description" content="Bandhu - is a Charity/NonProfit Organization.">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<script src='{% static "js/modernizr-2.8.0.min.js" %}'></script>

		<link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet">

		<link href='{% static "css/font-awesome.min.css" %}' rel="stylesheet">

		<link href='{% static "css/linecons-font-style.css" %}' rel="stylesheet">

		<link href='{% static "css/style.css" %}' rel="stylesheet">

		<link href='{% static "css/responsive.css" %}' rel="stylesheet">

		<link rel="stylesheet" href='{% static "css/owl.carousel.css" %}'>

		<link rel="stylesheet" href='{% static "css/prettyPhoto.css" %}'>

	</head>
	<body data-spy="scroll" data-target=".navbar" data-offset="50">
		<div class="main-menu-container navbar-fixed-top">
			<div id="main-menu" class="navbar navbar-default" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<!-- responsive navigation -->
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<i class="fa fa-bars"></i>
						</button> <!-- /.navbar-toggle -->
						<!-- Logo -->
						<h1>
							<a class="navbar-brand" href="./">
								<img class="logo" src='{% static "img/bandhulogo.png" %}' alt="Logo" rel="hoome">
							</a><!-- /.navbar-brand -->
						</h1>
					</div> <!-- /.navbar-header -->

					<nav class="collapse navbar-collapse">
						<!-- Main navigation -->
						<a href="#donate" class="donate pull-right">Donate <i class="fa fa-heart"></i></a>
						<ul class="nav navbar-nav pull-right">
							<li class="active"><a href="{% url 'home' %}">Home</a></li>
							<li><a href="#about">About</a></li>
							<li><a href="#work">Work</a></li>
							<!-- <li><a href="#service">Service</a></li> --> 
							<li><a href="#gallery">Gallery</a></li>
							<!-- <li><a href="#causes">Causes</a></li>
							<li><a href="#news">News</a></li>
							<li><a href="#upcoming-events">Events</a></li> -->
							<li><a href="#contact">Contact</a></li>
							<!-- <li><a href="#donate" class="donate">Donate <i class="fa fa-heart"></i></a></li> -->
						</ul> <!-- /.nav .navbar-nav -->
					</nav> <!-- /.navbar-collapse  -->
				</div> <!-- /.container -->
			</div><!-- /#main-menu -->
		</div>
		<section id="top-section" style="background-size: cover;">
			<div class="top-section parallax-style">
				<div class="parallax-overlay">
                    <div class="slider-txt-container" style="padding: 200px 0 300px 0;">
                        <!-- <h2 class="bold-txt">Cause 1</h2> -->
					</div><!-- /.slider-txt-container -->
				</div><!-- /.parallax-overlay -->
			</div><!-- /.top-section -->
		</section>

        <div class="" id="cause">
            <div class="angular">
                <div class="top-angle">
                </div><!-- /.top-angle -->
            </div>
            <div class="container" style="position: relative; top: -150px; z-index: 1000;">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div style="padding: 165px 25px 0;">
                            <h3 class="content-title" style="font-size: 2rem; margin-bottom: 20px;">Cause 2</h3>
                                <p>
                                    <strong>10 Years long run, we are working for the welfare of children. It was a little step, but it's now a big organization and worldwide activity as a child welfare non-profit organization.</strong>
                                </p>
                                <p>
                                    We felt the risky environment and circumstances for children over the world. Then we started working for them in a village. Day after day, we received a delightful response from the people who keep our thinking in their mind. Now, we are helping children in more than 100 countries and huge volunteers are working worldwide.
                                </p>
                            </h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card border text-center">
                            <img class="card-img-top" src='{% static "img/about-parallax-bg.jpg" %}' alt="Card image cap" style="height: 500px; width: 80%;">
                            <!-- <div class="card-body">
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>


		<!-- About Section -->
		<section id="about">
			<div class="about-section"> 
				<div class="white-bg angular section-padding">
					<div class="top-angle">
					</div><!-- /.top-angle -->
					<div class="container">
						<div class="section-head">
							<h2 class="section-title">About</h2>
							<p class="section-description">
								BANDHU IS A CHARITY WEBSITE TEMPLATE AND A NOON PROFIT ORGANIZATION WORK WORLDWIDE FOR CHILDREN IN THE BANNER OF "SAVE THE CHILDREN". WE HELP THE CHILDREN FOR PROPER PHYSICAL AND MENTAL GROWTH.
							</p><!-- /.section-description -->
						</div><!-- /.section-head -->

						<div class="section-content">
							<div class="row">
								<div class="content-box col-md-8 from-bottom delay-200">
									<!-- <div class="hex content-icon-hex pull-left">
										<div class="content-icon">
											<span aria-hidden="true" class="li_bulb"></span>
										</div>
									</div> -->
									<!-- /.content-icon-hex -->
									<h3 class="content-title">Our Story</h3>
									<p>
										<strong>10 Years long run, we are working for the welfare of children. It was a little step, but it's now a big organization and worldwide activity as a child welfare non-profit organization.</strong>
									</p>
									<p>
										We felt the risky environment and circumstances for children over the world. Then we started working for them in a village. Day after day, we received a delightful response from the people who keep our thinking in their mind. Now, we are helping children in more than 100 countries and huge volunteers are working worldwide.
									</p>
								</div><!-- /.content-box -->

								<div class="media-content media-right col-md-4 from-bottom delay-600">
									<div class="meida-container">
										<div id="about-img-carousel" class="about-img-carousel carousel slide" data-ride="carousel">
											<ol class="carousel-indicators">
												<li data-target="#about-img-carousel" data-slide-to="0" class="active"></li>
												<li data-target="#about-img-carousel" data-slide-to="1"></li>
												<li data-target="#about-img-carousel" data-slide-to="2"></li>
											</ol><!-- /.carousel-indicators -->
											<div class="carousel-inner">

												<div class="item active">
													<img src="{% static 'img/pimg6.jpg'%}" alt="carousel image">
												</div><!-- /.item -->
												<div class="item">
													<img src="{% static 'img/pimg2.jpg'%}" alt="carousel image">	
												</div><!-- /.item -->
												<div class="item">
													<img src="{% static 'img/pimg3.jpg'%}" alt="carousel image">
												</div><!-- /.item -->
											</div><!-- /.carousel-inner -->
										</div><!-- /#about-img-carousel -->
									</div><!-- /.meida-container -->
								</div><!-- /.media-content -->
							</div><!-- row -->
						</div><!-- /.section-content -->
					</div><!-- /.container -->
				</div><!-- /.white-bg -->

				<div class="gray-bg angular section-padding">
					<div class="top-angle"></div>
					<div class="container">
						<div class="row">
							<div class="section-content">
								<div class="media-content media-left col-md-4 from-bottom delay-200">
									<img src='{% static "img/our_mission.jpg" %}' alt="Our Mission">
								</div><!-- /.media-content -->

								<div class="content-box col-md-8 from-bottom delay-600">
									
									<h3 class="content-title">Our Mission</h3>
									<p>
										<strong>We dream about a new world for the children with no harm. We are aiming to build a strong and a bouncing platform where anyone can work for children worldwide.</strong>
									</p>
									<p>
										Together, we're going to make the future of the children where we are able to fulfill all of their requirements to keep them safe from withered world. We have already stepped out and start changing the world. Keeping safe them from war, inhumanity, Child labor, child abuse and more what we feel harmful for them.
									</p>
								</div><!-- /.content-box -->
							</div><!-- /.section-content -->
						</div><!-- /.row -->
					</div><!-- /.container -->

					<div class="bottom-angle">				
					</div><!-- /.bottom-angle -->

				</div><!-- ./gray-bg -->
			</div><!-- /.about-section -->
		</section><!-- /#about-->
		<!-- About Section End -->

		<!-- Clients Section -->
		<section id="clients">
			<div class="clients-section parallax-style">
				<div class="parallax-overlay dark-overlay section-padding">
					<div class="container">
						<div class="section-head" style="margin-bottom:25px;">
							<h3 class="parallax-title" >
								Become a Volunteer
							</h3>
						</div><!-- /.section-head -->

						<div class="row" align="center">
							<p class="parallax-description" style="font-size:16px;line-height:16px;width:60vw;">Do you like to work for children? Do you feel the slogan "Save the Children". Yes. Here, you are welcome to our team and you can work as a volunteer.
								At first, you have to submit your information and apply for becoming a volunteer. We will review your information within a few days and then contact with you. After finalizing your information, a confirmation message will send to you with necessary documents.</p><!-- /.clients-logo -->
							<button type="button" class="btn custom-btn angle-effect" id="send_message">APPLY NOW</button>
							</div><!-- /.low -->
					</div><!-- /.container -->
				</div><!-- /.parallax-overlay -->
			</div><!-- /.clients-section -->
		</section><!-- /#clients -->
		<!-- Clients Section End-->


		<section id="gallery">
			<div class="gallery-section gray-bg angular section-padding" style="padding-bottom: 250px;">
				<div class="top-angle">
				</div><!-- /.top-angle -->
				<div class="container">
					<div class="section-head">
						<h2 class="section-title">
							Gallery
						</h2><!-- /.section-title -->
						<p class="section-description">
							TAKE A LOOK AT OUR GALLERY TO SEE HOW WE ENDANGER THE CHILD. YOU MAY ALSO SEE OUR WORLDWIDE ACTIVITY AROUND THE GLOBE HOW WE WORKING FOR CHILDREN. 
						</p>
					</div><!-- /.section-head -->

					<div id="gallery-container" class="gallery-container">
						<div class="galleryFilter">
							<a href="#" data-filter="" class="current">All</a>
							<a href="#" data-filter=".cat-1">Charity</a>
							<a href="#" data-filter=".cat-2">Nature</a>
							<a href="#" data-filter=".cat-3">Wildlife</a>
							<a href="#" data-filter=".cat-4">Video</a>
							<a href="#" data-filter=".cat-5">Children</a>
						</div> <!-- /.galleryFilter -->

						<div class="gallery-item element-from-bottom">
							<figure class="item cat-3 cat-4">
								<img src='{% static "img/pimg1.jpg" %}' alt="Item 3">
								<div class="item-link">
									<a class="link-hex"href='{% static "img/pimg1.jpg" %}' data-rel="prettyPhoto">
										<span>
											<i class="fa fa-plus"></i>
										</span>
									</a>
								</div><!-- /.item-link -->
								<figcaption class="item-description">
									<h4 class="item-title">
										Title Here
									</h4><!-- /.item-title -->
									<p class="gallery-item-description">
										 Some text about the photo will go here as photo description
									</p><!-- /.gallery-item-description -->
								</figcaption>
							</figure>

							<figure class="item cat-2 cat-5">
								<img src='{% static "img/pimg2.jpg" %}' alt="Item 4">
								<div class="item-link">
									<a class="link-hex"href='{% static "img/pimg2.jpg" %}' data-rel="prettyPhoto">
										<span>
											<i class="fa fa-plus"></i>
										</span>
									</a>
								</div><!-- /.item-link -->
								<figcaption class="item-description">
									<h4 class="item-title">
										Title Here
									</h4><!-- /.item-title -->
									<p class="gallery-item-description">
										 Some text about the photo will go here as photo description
									</p><!-- /.gallery-item-description -->
								</figcaption>
							</figure>

							<figure class="item cat-1 cat-2">
								<img src='{% static "img/pimg3.jpg" %}' alt="Item 1">
								<div class="item-link">
									<a class="link-hex"href='{% static "img/pimg3.jpg" %}' data-rel="prettyPhoto">
										<span>
											<i class="fa fa-plus"></i>
										</span>
									</a>
								</div><!-- /.item-link -->
								<figcaption class="item-description">
									<h4 class="item-title">
										Title Here
									</h4><!-- /.item-title -->
									<p class="gallery-item-description">
										 Some text about the photo will go here as photo description
									</p><!-- /.gallery-item-description -->
								</figcaption>
							</figure>

							<figure class="item cat-1 cat-5">
								<img src='{% static "img/pimg4.jpg" %}' alt="Item 2">
								<div class="item-link">
									<a class="link-hex"href='{% static "img/pimg4.jpg" %}' data-rel="prettyPhoto">
										<span>
											<i class="fa fa-plus"></i>
										</span>
									</a>
								</div><!-- /.item-link -->
								<figcaption class="item-description">
									<h4 class="item-title">
										Title Here
									</h4><!-- /.item-title -->
									<p class="gallery-item-description">
										 Some text about the photo will go here as photo description
									</p><!-- /.gallery-item-description -->
								</figcaption>
							</figure>

							<figure class="item cat-3 cat-1">
								<img src='{% static "img/pimg5.jpg" %}' alt="Item 5">
								<div class="item-link">
									<a class="link-hex"href='{% static "img/pimg5.jpg" %}' data-rel="prettyPhoto">
										<span>
											<i class="fa fa-plus"></i>
										</span>
									</a>
								</div><!-- /.item-link -->
								<figcaption class="item-description">
									<h4 class="item-title">
										Title Here
									</h4><!-- /.item-title -->
									<p class="gallery-item-description">
										 Some text about the photo will go here as photo description
									</p><!-- /.gallery-item-description -->
								</figcaption>
							</figure>

							<figure class="item cat-4 cat-1 cat-5">
								<img src='{% static "img/pimg6.jpg" %}' alt="Item 6">
								<div class="item-link">
									<a class="link-hex"href='{% static "img/pimg6.jpg" %}' data-rel="prettyPhoto">
										<span>
											<i class="fa fa-plus"></i>
										</span>
									</a>
								</div><!-- /.item-link -->
								<figcaption class="item-description">
									<h4 class="item-title">
										Title Here
									</h4><!-- /.item-title -->
									<p class="gallery-item-description">
										 Some text about the photo will go here as photo description
									</p><!-- /.gallery-item-description -->
								</figcaption>
							</figure>

							<figure class="item cat-3 cat-1 cat-4">
								<img src='{% static "img/pimg7.jpg" %}' alt="Item 7">
								<div class="item-link">
									<a class="link-hex"href='{% static "img/pimg7.jpg" %}' data-rel="prettyPhoto">
										<span>
											<i class="fa fa-plus"></i>
										</span>
									</a>
								</div><!-- /.item-link -->
								<figcaption class="item-description">
									<h4 class="item-title">
										Title Here
									</h4><!-- /.item-title -->
									<p class="gallery-item-description">
										 Some text about the photo will go here as photo description
									</p><!-- /.gallery-item-description -->
								</figcaption>
							</figure>

							<figure class="item cat-4 cat-2 cat-5">
								<img src='{% static "img/pimg8.jpg" %}' alt="Item 7">
								<div class="item-link">
									<a class="link-hex"href='{% static "img/pimg8.jpg" %}' data-rel="prettyPhoto">
										<span>
											<i class="fa fa-plus"></i>
										</span>
									</a>
								</div><!-- /.item-link -->
								<figcaption class="item-description">
									<h4 class="item-title">
										Title Here
									</h4><!-- /.item-title -->
									<p class="gallery-item-description">
										 Some text about the photo will go here as photo description
									</p><!-- /.gallery-item-description -->
								</figcaption>
							</figure>
						</div><!-- /.gallery-item -->
					</div><!-- /gallery-container -->
				</div><!-- /.container -->
			</div><!-- /.gallery-section -->
		</section>



		
		<!-- Contact Section -->
		<section id="contact">
			<div class="contact-section angular section-padding">
				<div class="top-angle">
				</div><!-- /.top-angle -->
				<div class="container">
					<div class="section-head">
						<h2 class="section-title">
							Contact
						</h2>
						<p class="section-description">
							IF YOU FEEL, NEED WORKING FOR CHILD PLEASE CONTACT WITH US AND LET US KNOW HOW YOU LIKE TO WORK FOR THEM. CONTENT WITH US IF ANY MORE INFORMATION NEEDED.
						</p>
					</div><!-- /.section-head -->
				</div><!-- /.container -->

				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="contact-form-container">
								<h3 class="content-title">
									Drop us a message
								</h3>

								<form class="contact-form" id="contact-form" action="email.php" method="post">
									<div id="name_error" class="error">
										<img src="assets/images/email/error.png" alt="Error!">
										Please enter your name.
									</div><!-- /#name_error -->
									<div class="input-container li_user">
										<input type="text" class="form-control" name="name" id="name" placeholder="Name" required>
									</div><!-- /.input-container-->

									<div id="email_error" class="error">
										<img src="assets/images/email/error.png" alt="Error!">
										Please enter your valid E-mail ID.
									</div><!-- /#email_error -->
									<div class="input-container li_mail">
										<input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
									</div><!-- /.input-container -->

									<div id="message_error" class="error">
										<img src="assets/images/email/error.png" alt="Error!">
										Please enter your message.
									</div><!-- /#message_error -->
									<div class="input-container li_pen">
										<textarea class="form-control" id="message" name="message" cols="45" placeholder="Message" rows="6"></textarea>
									</div><!-- /.input-container -->
									
									<div id="mail_success" class="success">
										<img src="assets/images/email/success.png" alt="Success!">
										Your message has been sent successfully.
									</div><!-- /#mail_success -->

									<div id='mail_fail' class='error'>
										<img src="assets/images/email/error.png" alt="Error!"> Sorry, error occured this time sending your message.
									</div><!-- /#mail_fail -->

									<button type="submit" class="btn custom-btn angle-effect" id="send_message">Submit</button>
								</form><!-- /.contact-form -->

							</div><!-- /.contact-form-container -->
						</div><!-- /.col-md-6 -->

						<div class="col-md-6">
							<div class="contact-info">
								<h3 class="content-title">
									Contact Info
								</h3>
								<p class="content-description">
									Enter your email address to subscribe to our website and receive notifications of new posts by email.
								</p>
								<address> 
									<ul class="contact-address">
										<li class="fa-map-marker">
											PDPM IIITDM Jabalpur, Madhya Pradesh 
										</li>
										<li  class="fa-phone">
											+91 77777 44444, +91 55555 55555
										</li>
										<li class="fa-envelope">
											temporary@gmail.com
										</li>
									</ul><!-- /.contact-address --> 
								</address>
							</div><!-- /.contact-info -->
						</div><!-- /.col-md-6 -->
					</div><!-- /.row -->
				</div><!-- /.container -->
				<div class="bottom-angle">
				</div><!-- /.bottom-angle -->
			</div><!-- /.contact-section -->
		</section><!-- /#contact -->
		<!-- Contact Section End -->


		<!-- Google Map Section -->
		<div id="google-map">
			<div class="map-container">
				<div id="googleMaps" class="google-map-container"></div>
			</div>
		</div><!-- /#google-map-->
		<!-- Google Map Section End -->	


		<!-- Scroll to Top -->
		<div id="scroll-to-top">
			<div class="hex scroll-top">
				<span><i class="fa fa-arrow-up"></i></span>
			</div>
		</div><!-- /#scroll-to-top -->
		<!-- Scroll to Top End-->	


		<!-- Footer Section -->
		<footer id="footer-section">
			<div class="footer-section">
				<div class="container">
					<div class="footer-social-btn pull-right">
						<a href="#" class="twitter-btn"><i class="fa fa-twitter"></i></a>
						<a href="#" class="facebook-btn"><i class="fa fa-facebook"></i></a>
						<a href="#" class="github-btn"><i class="fa fa-github-alt"></i></a>
						<a href="#" class="vimeo-btn"><i class="fa fa-vimeo-square"></i></a>
						<a href="#" class="pinterest-btn"><i class="fa fa-pinterest"></i></a>
						<a href="#" class="google-plus-btn"><i class="fa fa-google-plus"></i></a>
						<a href="#" class="youtube-btn"><i class="fa fa-youtube"></i></a>
						<a href="#" class="dribbble-btn"><i class="fa fa-dribbble"></i></a>
						<a href="#" class="linkedin-btn"><i class="fa fa-linkedin"></i></a>
					</div><!-- /.footer-social-btn -->
					<div class="copyrights pull-left">
						&copy; <a href="#">Bandhu</a> 2020, All Rights Reserved

						<!-- , Developed by <a href="http://www.codexcoder.com">CodexCoder</a> -->

					</div><!-- /.copyrights -->

					
				</div><!-- /.container -->
			</div><!-- /.footer-section -->
		</footer><!-- /#footer-section -->
		<!-- Footer Section End -->


		<!-- Include jquery.min.js plugin -->
		<script src='{% static "js/jquery-2.1.0.min.js" %}'></script>
		
		<!-- Include email-validation.js Email Validator -->
		<script src='{% static "js/email-validation.js" %}'></script>

		<script src='{% static "js/jquery.visible.min.js" %}'></script>

		<!-- included plugins inside  plugins.js -->
		<script src='{% static "js/plugins.js" %}'></script>

		<!-- included plugins inside  plugins.js -->
		<script src='{% static "js/jquery.parallax.js" %}'></script>				

		<!-- Include functions.js -->
		<script src='{% static "js/functions.js" %}'></script>

		<!-- Google Maps Script  -->
		<script src="http://maps.google.com/maps/api/js?sensor=true"></script> 

		<!-- Gmap3.js For Static Maps -->
		<script src='{% static "js/gmap3.js" %}'></script>

		<script type="text/javascript">

			/*---------------------- Current Menu Item -------------------------*/
			jQuery(document).ready(function($) {
				"use strict";

				$('#main-menu #headernavigation').onePageNav({
					currentClass: 'active',
					changeHash: false,
					scrollSpeed: 750,
					scrollThreshold: 0.5,
					scrollOffset: 60,
					filter: '',
					easing: 'swing'
				}); 

				$('#event_time_countdown').countDown({
					targetDate: {
						'day': 23,
						'month': 9,
						'year': 2020,
						'hour': 0,
						'min': 0,
						'sec': 0
					},
					omitWeeks: true
				});


				/*----------- Google Map - with support of gmaps.js ----------------*/
				function isMobile() { 
					return ('ontouchstart' in document.documentElement);
				}

				function init_gmap() {
					if ( typeof google == 'undefined' ) return;
					var options = {
						center: [23.709921, 90.407143],
						zoom: 15,
						mapTypeControl: true,
						mapTypeControlOptions: {
							style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
						},
						navigationControl: true,
						scrollwheel: false,
						streetViewControl: true
					}

					if (isMobile()) {
						options.draggable = false;
					}

					$('#googleMaps').gmap3({
						map: {
							options: options
						},
						marker: {
							latLng: [23.709921, 90.407143],
							options: { icon: 'assets/images/mapicon.png' }
						}
					});
				}

				init_gmap();

			});
		</script>


</body>
</html>