{% extends 'base.html' %}

{% load static %}

{% block title %} Ashram {% endblock %}

{% block style %}
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'css/bandhu.css' %}">
<link rel="stylesheet" href="{% static 'css/ashram.css' %}">

{% endblock %}

{% block navbar-links %}
<li class="nav-item">
    <a class="nav-link px-3 px-lg-2" href="{% url 'home' %}">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link px-3 px-lg-2" href="#about">About</a>
</li>
<!-- <li class="nav-item">
    <a class="nav-link px-3 px-lg-2" href="#recent-activities">Recents</a>
</li> -->
<li class="nav-item">
    <a class="nav-link px-3 px-lg-2" href="#gallery">Gallery</a>
</li>
<li class="nav-item">
    <a class="nav-link px-3 px-lg-2" href="#contact">Contact</a>
</li>
{% endblock %}

{% block showcase-title-container %}
<div class="slider-txt-container" style="padding: 200px 0 200px 0;">
    <h2 class="bold-txt"> Ashram </h2>
</div>
{% endblock %}

{% block content %}
<!-- Cause Section  -->
<div class="" id="cause">
    <div class="container pb-5 mb-5" style="margin-top: -150px;">
        <div class="row justify-content-center">
            <div class="col-md-6" style="z-index: 10;">
                <div style="padding: 165px 25px 0;">
                    <!-- <h3 class="content-title" style="font-size: 2rem; margin-bottom: 20px;">Ashram</h3> -->
                    <p>
                        <strong>10 Years long run, we are working for the welfare of children. It was a little step, but
                            it's now a big organization and worldwide activity as a child welfare non-profit
                            organization.</strong>
                    </p>
                    <p>
                        We felt the risky environment and circumstances for children over the world. Then we started
                        working for them in a village. Day after day, we received a delightful response from the people
                        who keep our thinking in their mind. Now, we are helping children in more than 100 countries and
                        huge volunteers are working worldwide.
                    </p>
                    </h3>
                </div>
            </div>
            <div class="col-md-6" style="z-index: 10;">
                <div class="card border text-center">
                    <img class="card-img-top" src='{% static "img/gimg-3.png" %}' alt="Card image cap"
                        style="height: 500px; width: 100%;">
                    <!-- <div class="card-body">
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Recent Activities Section -->
<section id="recent-activities">
    <div class="bg-grey" style="padding: 50px 0;">
        <div class="container">
            <div class="row">
                <div class="section-content w-100">
                    <div class="content-box from-bottom delay-200">
                        {% if user.is_admin %}
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#addAnkurayan">
                                Create Ashram
                            </button>
                            {% endif %}
                        <h3 class="section-title">Ashrams</h3>
                        <div class="add-ankurayan">
                            
                            <div class="modal fade bd-example-modal-lg" tabindex="-1" id="addAnkurayan" role="dialog"
                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title bld" id="exampleModalLongTitle">Create Ashram</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="POST" enctype="multipart/form-data"
                                                action="{% url 'ashram:CreateAshram' %}">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="col">
                                                        <label class="left-label bld" for="">Ashram Name</label>
                                                        <input type="text" class="form-control" name="name"
                                                            placeholder="Ashram name"><br>
                                                    </div>
                                                    <div class="col">
                                                        <label class="left-label bld" for="">Admin</label>
                                                        <select required name="admin" class="form-control">
                                                            {% for user in all_users %}
                                                            <option value={{user.pk}}>{{user.first_name}}
                                                                {{user.last_name}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <label class="left-label bld" for="">Locality</label>
                                                        <input type="text" class="form-control" name="locality"
                                                            placeholder="Locality"><br>
                                                    </div>
                                                    <div class="col">
                                                        <label class="left-label bld" for="">Address</label>
                                                        <input type="text" class="form-control" name="address"
                                                            placeholder="Address"><br>
                                                    </div>
                                                </div>
                                                <label class="left-label bld" for="">Description</label>
                                                <textarea name="description" placeholder="Description" class="form-control" id="" cols="80" rows="8"></textarea><br>
                                                <label class="left-label bld" for="">Thumbnail</label>
                                                <div class="input-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" name="image" id="inputGroupFile04" 
                                                            aria-describedby="inputGroupFileAddon04">
                                                        <label class="custom-file-label" for="logo">Add Thumbnail</label>
                                                    </div>
                                                </div><br>
                                                <button class="btn btn-primary">Create Ashram</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="glide ashrams">
                            <div class="glide__track" data-glide-el="track">
                                <ul class="glide__slides">
                                    {% for ashram in ashrams %}
                                    <li class="glide__slide">
                                        <div
                                            class="card w-100 shadow-sm border border-primary border-rounded mx-auto my-2">
                                            <img src="{{ ashram.image.url }}" class="card-img-top home-card-img" alt=""
                                                width="300px">
                                            <div class="card-body pb-0">
                                                <h5 class="card-title font-weight-bold">{{ ashram.name }}</h5>
                                                <p class="mb-3">
                                                    {{ ashram.locality }}
                                                    <br>
                                                </p>
                                                <a href="{% url 'ashram:AshramDetail' slug=ashram.slug %}"
                                                    class="stretched-link"></a>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="glide__arrows disable_arrows d-none d-md-block" data-glide-el="controls">
                                <button class="slider_arrow slider_arrow--prev glide__arrow glide__arrow--left"
                                    data-glide-dir="<">
                                    <i class="fas fa-arrow-circle-left"></i>
                                </button>
                                <button class="slider_arrow slider_arrow--next glide__arrow glide__arrow--right"
                                    data-glide-dir=">">
                                    <i class="fas fa-arrow-circle-right"></i>
                                </button>
                            </div>
                            <div class="glide__bullets" data-glide-el="controls[nav]">
                                {% for ashram in ashrams %}
                                <button class="glide__bullet" data-glide-dir="={{forloop.counter}}"></button>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Recent Activities Section Ends -->

{% comment %}
<!-- Volunteer Section -->
<section id="volunteer">
    <div class="parallax-style text-white text-center">
        <div class="parallax-overlay dark-overlay section-padding" style="padding: 80px 0 70px;">
            <div class="container">
                <div class="section-head" style="margin-bottom:60px;">
                    <h3 class="section-title parallax-title">
                        Become a Volunteer
                    </h3>
                </div>

                <div class="row justify-content-center">
                    <p class="parallax-description w-100 px-3"
                        style="font-size:1.7em; line-height:35px; margin-bottom: 30px;">
                        Do you like to work for children? Do you feel the slogan "Save the Children". Yes. Here, you are
                        welcome to our team and you can work as a volunteer.
                    </p>
                    <button type="button" class="btn btn-outline-light py-2 px-4 custom-btn angle-effect">Join
                        Now</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Volunteer Section End-->



<section id="gallery">
    <div class="bg-grey" style="padding: 80px 0 60px;">
        <div class="container">
            <div class="section-head">
                <h2 class="section-title">
                    Gallery
                </h2>
                <p class="section-description">
                    TAKE A LOOK AT OUR GALLERY TO SEE HOW WE ENDANGER THE CHILD. YOU MAY ALSO SEE OUR WORLDWIDE ACTIVITY
                    AROUND THE GLOBE HOW WE WORKING FOR CHILDREN.
                </p>
            </div>

            <div id="gallery-container" class="gallery-container">
                <div class="gallery-item element-from-bottom clearfix">
                    {% for photo in photos %}
                    <figure class="item cat-3 cat-4">
                        <img src='/media/{{photo.picture}}' alt="Item 3" data-rel="photoSwipe">
                        <a href="" class="stretched-link">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </figure>
                    {% endfor %}
                </div><!-- /.gallery-item -->
            </div><!-- /gallery-container -->
        </div><!-- /.container -->
        <!-- <div class="bottom-angle">
        </div> -->
        <!-- /.bottom-angle -->
    </div><!-- /.gallery-section -->
</section>

<!-- Include PhotoSwipe -->
{% include 'snippets/init_pswp.html' %}

{% endcomment %}

<!-- Scroll To Top Button -->
<div id="scroll-to-top">
    <div class="hex scroll-top">
        <span><i class="fa fa-arrow-up"></i></span>
    </div>
</div>

{% endblock %}


{% block scripts %}
<!-- Custom JS -->
<script src="{% static 'js/bandhu.js' %}"></script>
<!-- Contact Scrollspy Problem -->
<script>contact_scrollspy()</script>

<script>
    // AHSRAMS CAROUSEL
    var ashram_glide = new Glide('.ashrams', {
        type: 'slide',
        focusAt: 'center',
        perView: 3,
        autoplay: 2000,
        gap: 30,
        breakpoints: {
            991: {
                perView: 2,
            },
            767: {
                perView: 1,
            },
        }
    })
    ashram_glide.mount()
</script>

<!-- Upload Detail in forms -->
<script type="text/javascript">

    $('.custom-file input').change(function (e) {
        var files = [];
        for (var i = 0; i < $(this)[0].files.length; i++) {
            files.push($(this)[0].files[i].name);
        }
        if(files.length > 1) {
            $(this).next('.custom-file-label').html(files.length + ' files selected');
        }
        else {
            $(this).next('.custom-file-label').html('1 file selected');
        }
    });

</script>
{% endblock %}