<section id="contact" class="p-4 pt-5 text-white" style="background-color: #212529">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 class="font-weight-bolder border-bottom" >
                    Our Initiatives
                </h3>
                <ul class="nav flex-column py-4">
                    <li class="nav-item">
                        {% now 'Y' as current_year %}
                        <a href="{% url 'ankurayan' current_year %}" class="nav-link">Ankurayan</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'anandakendra' %}" class="nav-link">Ananda Kendra</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Arpan Bandhu</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'ashram' %}" class="nav-link">Ashram</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'charity_work' %}" class="nav-link">Charity Work</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Madh Mukti</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-6">
                <h3 class="font-weight-bolder border-bottom">
                    Contact Us
                </h3>
                <div class="pt-4 pb-3">
                    <h5 class="font-weight-bolder mb-3">Bandhu</h5>
                    <h6>PDPM IIITDM Jabalpur, Madhya Pradesh</h6>
                </div>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="tel:+919437439371" class="nav-link">
                            <i class="fas fa-phone-alt border rounded-circle p-2"></i>
                            +91 94374 39371
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="mailto:bandhuodisha@gmail.com" class="nav-link">
                            <i class="fas fa-envelope border rounded-circle p-2"></i>
                            bandhuodisha@gmail.com
                        </a>
                    </li>
                </ul>
                <div class="social-icons my-3 ml-2">
                    <a href="https://www.facebook.com/npobandhu/" target="_blank">
                        <i class="fab fa-facebook-square text-white"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-twitter text-white"></i>
                    </a>
                </div>
            </div>
        </div>

        <hr class="bg-white">

        <div class="footer text-white clearfix">
            <div class="float-left">
                &copy; <a href="{% url 'home' %}">Bandhu</a> 2020, All Rights Reserved.
            </div>
        </div>
    </div>
</section>
