{% extends 'accounts_base.html' %}
{% block title %}
	Bandhu | Signin
{% endblock %}

{% block content %}
<div class="container form-display">
	<div class="row justify-content-center my-5" style="margin-left: 10px; margin-right: 10px;">
		<div class="col-lg-5 border rounded px-5 py-4" style="background-color: rgb(246, 247, 247); z-index: 3;">
			<form class="login100-form validate-form flex-sb flex-w" method="POST">
				{% csrf_token %}
				<h3 class="text-center font-weight-bolder">Sign In</h3>
				<div class="mb-4 text-center">
					<a href="{% url 'social:begin' 'facebook' %}" class="btn btn-facebook">
						<i class="fa fa-facebook-official"></i>
						Facebook
					</a>
					<a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-google">
						<i class="fa fa fa-google-plus"></i>
						Google
					</a>
				</div>
				<div class="w-full text-center p-t-3 p-b-10">
					<h5 class="">OR</h5>
				</div>
				<div class="error_msg text-center w-full">
					{% if err_code == 1 %}
					<p class="mt-3 mb-3" style="color:red;">*Your Account has not been activated. Please activate your account to continue.</p>
					{% elif err_code == 2 %}
					<p class="mt-3 mb-3" style="color:red;">*Your Account is not yet authorised. Kindly contact admin.</p>
					{% elif err_code == 3 %}
					<p class="mt-3 mb-3" style="color:red;">*Please enter Correct Email and Password.</p>
					{% endif %}
				</div>
				<div class="row">
					<input type="email" name="email" placeholder="Email" class="form-control" required="required" id="id_email">
					<div class="col-md-2" style="height: 10px;"></div>
					<input type="password" name="password" placeholder="Password" class="form-control" required="required" id="id_password">
					<div class="col-md-2" style="height: 10px;"></div>
				</div>
				<div class="row">
					<a href="{% url 'password_reset' %}" class="txt2 bo1" style="text-decoration: none; font-size: 12px;">
						Forgot Password?
					</a>
				</div>
				<div class="col-md-2" style="height: 10px;"></div>
				<div class="row ">
					<button class="btn btn-primary btn-lg" type="submit" style="width:100%">
						Sign In
					</button>
				</div>
				<div class="col-md-2" style="height: 10px;"></div>
				<div class="w-full text-center p-t-15">
					<a href="{% url 'signup' %}" class="txt2 bo1">
						Create Account
					</a>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

