<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>Bandhu | Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/ico" href='{% static "img/icon/favicon.ico" %}'/>
	<link rel="stylesheet" type="text/css" href='{% static "vendor/bootstrap/css/bootstrap.min.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "css1/font-awesome.min.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "css1/util.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "css1/main.css" %}'>
</head>
<body>
	<div class="limiter">
    	<div class="container-login100">
			<div class="wrap-login100 p-l-50 p-r-50 p-t-32 p-b-23">
				<form class="login100-form validate-form flex-sb flex-w" method="POST">
					{% csrf_token %}
					<span class="login100-form-title p-b-33">
						Sign In
					</span>
					<a href="{% url 'social:begin' 'facebook' %}" class="btn-face m-b-15">
						<i class="fa fa-facebook-official"></i>
						Facebook
					</a>
					<a href="{% url 'social:begin' 'google-oauth2' %}" class="btn-google m-b-20">
						<img src= "{% static 'img/icon/icon-google.png' %}" alt="GOOGLE">
						Google
					</a>
					<div class="w-full text-center p-t-3 p-b-10">
						<p>---OR---</p>
						<span class="txt2">
							Sign In Using Email
						</span>
					</div>
					<!-- Main login area  -->
					{% if err_code == 1 %}
					<p class="mt-3 mb-3" style="color:red;">*Your Account has not been activated. Please activate your account to continue.</p>
					{% elif err_code == 2 %}
					<p class="mt-3 mb-3" style="color:red;">*Your Account is not yet authorised. Kindly contact admin.</p>
					{% elif err_code == 3 %}
					<p class="mt-3 mb-3" style="color:red;">*Please enter Correct Email and Password.</p>
					{% endif %}
					<div class="wrap-input100 validate-input" data-validate = "Username is required">
						<input class="input100" type="email" name="email" placeholder="Email">
					</div>
					<div class="col-md-2" style="height: 10px;">

					</div>
					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" name="password" placeholder="Password">
					</div>
					<div class="p-t-13 p-b-9">
						<a href="{% url 'password_reset' %}" class="txt2 bo1 m-l-5">
							Forgot Password?
						</a>
					</div>

					<div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn" type="submit">
							Sign In
						</button>
					</div>

					<div class="w-full text-center p-t-15">
						<span class="txt2">
							Not a member?
						</span>
						<a href="{% url 'signup' %}" class="txt2 bo1">
							Sign up now
						</a>
					</div>
				</form>
			</div>
	    </div>
	</div>
</body>
</html>
