<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href='{% static "vendor/bootstrap/css/bootstrap.min.css" %}'>
  	<link rel="stylesheet" type="text/css" href='{% static "fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}'>
  	<link rel="stylesheet" type="text/css" href='{% static "css1/util.css" %}'>
  	<link rel="stylesheet" type="text/css" href='{% static "css1/main.css" %}'>
    <title>Password reset success</title>
</head>
<body>
    <div class="container-login100">
        <div class="wrap-login100 p-l-50 p-r-50 p-t-32 p-b-23 text-center">
            <!-- <h1 class="text-center">Bandhu</h1> -->
                <i class="fa fa-check-circle mt-3" style="font-size: 3em; color: green;"></i>
                <h2 class="mt-2">Password Reset Successful.</h2>
                <p class="mt-3 mb-0"><a href="login.html">Login</a> to continue.</p>
            </span>
        </div>
    </div>
</body>
</html>
