{% autoescape off %}
<html>
<body>
    <div class="main">
        <div class="container">
            <div class="sec1" style="font-family: Sans-Serif;">
                <p>Hi, {{ user.email }}</p>
                <p>Thanks for signing up, Welcome to <strong>Bandhu.</strong></p>
                <p>Bandhu is an idea that celebrates goodness, that is in you, me and all others.</p>
                <p>Here are the steps to be followed:</p>
                <ul>
                    <li> Verify your Profile<a href="http://{{ domain }}{% url 'account_activation' uidb64=uid token=token %}">(Click here)</a></li>
                    <li> Update your profile.</li>
                    <li> Admin will verify your profile.</li>
                    <li> You will get a mail after your profile is verified and then you are good to go.</li>
                </ul>
                <a href="http://{{ domain }}{% url 'account_activation' uidb64=uid token=token %}">
                    <button class="btn"
                            style="border: 1px solid green; background-color: green; color: white; padding: 10px; border-radius: 5px;">
                        Activate Account</button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
{% endautoescape %}