{% extends 'accounts_base.html' %}
{% block title %}
    Bandhu | Password Reset
{% endblock %}

{% block content %}
    <div class="container-login100">
        <div class="wrap-login100 p-l-50 p-r-50 p-t-32 p-b-23 text-center">
                <i class="fa fa-check-circle mt-3" style="font-size: 3em; color: green;"></i>
                <h2 class="mx-3">Profile in Review</h2>
                <p class="mx-3">We have sent your Profile to our Admin for verification. </p>
                <p class="mx-3"><b>You will recieve an Email Notification once your Profile gets verified by Admin.</b></p>
            </span>
        </div>
    </div>
{% endblock %}