<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href='{% static "vendor/css/bootstrap.min.css" %}'>
	  <link rel="stylesheet" type="text/css" href='{% static "css1/font-awesome.min.css" %}'>
	  <link rel="stylesheet" type="text/css" href='{% static "css1/util.css" %}'>
	  <link rel="stylesheet" type="text/css" href='{% static "css1/main.css" %}'>
    <title>Account Activated</title>
</head>
<body>
    <div class="container-login100">
        <div class="wrap-login100 p-l-50 p-r-50 p-t-32 p-b-23 text-center">
                <i class="fa fa-check-circle mt-3" style="font-size: 3em; color: green;"></i>
                <h2 class="mx-3">Profile in Review</h2>
                <p class="mx-3">We have sent your Profile to our Admin for verification. </p>
                <p class="mx-3"><b>You will recieve an Email Notification once your Profile gets verified by Admin.</b></p>
            </span>
        </div>
    </div>
</body>
</html>
