{% extends 'accounts_base.html' %}

{% block title %}
    Bandhu | Account Activation
{% endblock %}


{% block content %}
    <div class="container form-display" style="margin-top: 50px;">
        <div class="wrap-login100 p-l-50 p-r-50 p-t-32 p-b-23 text-center" 
            style="margin: auto; margin-top: 45px; border: 1px solid #e7e4e4; max-width: 500px; border-radius: 5px; background-color: #eff2f357;">
            <i class="fa fa-check-circle mt-3" style="font-size: 3em; color: green;"></i>
            <h2 class="mx-3 font-weight-bolder">Account Authenticated</h2>
            <p class="mx-3">You have successfully Authenticated the user account. </p>
        </div>
    </div>
{% endblock %}