{% extends 'accounts_base.html' %}
{% block title %}
    Account activated
{% endblock %}

{% block content %}
    <div class="container-login100">
        <div class="wrap-login100 p-l-50 p-r-50 p-t-32 p-b-23 text-center">
                <img src="/static/img/icon/tick.gif" alt="Done" style="max-width: 100px;">
                <!-- <i class="fa fa-check-circle mt-3" style="font-size: 3em; color: green;"></i> -->
                <h1 class="mx-3">Account activated</h1>
                <p class="mx-3">Login to continue</p>
            </span>
        </div>
    </div>
{% endblock %}
