{% extends 'accounts_base.html' %}

{% block title %}
Bandhu | Forgot Password
{% endblock %}

{% block content %
	<div class="container form-display" style="margin-top: 50px;">
        <div class="wrap-login100 p-l-50 p-r-50 p-t-32 p-b-23 text-center" 
            style="margin: auto; margin-top: 45px; border: 1px solid #e7e4e4; max-width: 500px; border-radius: 5px; background-color: #eff2f357;">
            <i class="fa fa-times-circle mt-3" style="font-size: 3em; color: red;"></i>
			<h2 class="mx-3 font-weight-bolder">Forgot Password?</h2>
			<input type="email" name="email" placeholder="Email" class="form-control" required="required" id="id_email">
			<div class="col-md-2" style="height: 10px;"></div>
			<p calss="mx-3">We will send you a link to reset your password.</p>
			<button class="btn btn-primary btn-lg" type="submit" style="width:100%"></button>
            <p class="mx-3">Contact adminstrator : <a href="mailto:admin@admin.com">admin@admin.com</a></p>
        </div>
    </div>
{% endblock %}