{% extends 'base.html' %}

{% load static %}

{% block title %} Bandhu | Signup {% endblock %}

{% block style %}
	<style>
		.btn-google {
			border: 1px solid rgb(228, 224, 224);
			border-radius: 5px;
		}

		.btn-facebook {
			border: 1px solid rgb(228, 224, 224);
			border-radius: 5px;
		}
	</style>
{% endblock %}

{% block navbar-links %}
<li class="nav-item">
	<a class="nav-link px-3" href="{% url 'home' %}">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link px-3" href="#contact">Contact</a>
</li>
{% endblock %}

{% block showcase-title-container %}
<div class="slider-txt-container" style="padding: 150px 0 300px 0;">
	<h2 class="bold-txt"> Create Account </h2>
</div>
{% endblock %}

{% block content %}

<div class="container">
	<div class="row justify-content-center my-5">
		<div class="col-lg-8 border rounded shadow px-5 py-4 mb-5 bg-white"
			style="margin-top: -280px; z-index: 3;">
				
			<form class="login100-form validate-form flex-sb flex-w" method="POST">
				{% csrf_token %}
				<div class="mb-4 text-center ">
					<h2 class="font-weight-bolder">Sign up using</h2>
				</div>
				<div class="mb-4 text-center">
					<a href="{% url 'social:begin' 'facebook' %}" class="btn btn-facebook">
						<i class="fa fa-facebook-official"></i>
						Facebook
					</a>
					<a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-google">
						<!-- <img src= "{% static 'img/icon/icon-google.png' %}" alt="GOOGLE"> -->
						Google
					</a>
				</div>
				<div class="w-full text-center p-t-3 p-b-10">
					<hr></hr>
					<h2 class="">OR</h2>
				</div>
				<div class="error_msg text-center w-full">
					<p style="color: red">{{message}}</p>
				</div>
				<div class="row">
					{% for field in form %}
						{{field}}
					<div class="col-md-2" style="height: 10px;">
					</div>
					{% endfor %}
				</div>
				<div class="container-login100-form-btn m-t-17">
					<button class="btn btn-primary btn-lg btn-block" type="submit">
						Sign Up
					</button>
				</div>
				<div class="w-full text-center p-t-15">
					<span class="txt2">
						Already a member?
					</span>
					<a href="{% url 'login' %}" class="txt2 bo1">
						Sign In Using Email
					</a>
				</div>
				</div>
				</form>
			</div>
		</div>
	</div>
	<div id="dropDownSelect1"></div>
{% endblock %}
