{% extends 'accounts_base.html' %}

{% block title %}
    Bandhu | Signup Successful
{% endblock %}


{% block content %}
    <div class="container form-display" style="margin-top: 50px;">
        
        <div class="wrap-login100 p-l-50 p-r-50 p-t-32 p-b-23 text-center" 
            style="margin: auto; margin-top: 50px; max-width: 500px;">
            <img src="/static/img/icon/mail-sent-2.gif" alt="Email Sent" style="max-width: 200px;">
            <h1 class="mx-3 font-weight-bolder">Account Activation</h1>
            <p class="mx-3">We have sent you a activation link on your email, please click on it to Proceed. </p>
        </div>
    </div>
{% endblock %}